{% load tags %}
<div class="col-xxl-4 col-md-6">
  <div class="card info-card bg-card">
    <a href="{% url 'parcel:command_wait_approve' %}">
      <div class="card-body">
        <h5 class="card-title">รายการใบเบิก <span>| ขออนุมัติ</span></h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-box-arrow-left text-danger"></i>
          </div>
          <div class="ps-3">
            <h6>{{ wait_approve.count }} ใบเบิก</h6>
            <span class="text-success small pt-1 fw-bold">รออนุมัติ </span> <span class="text-muted small pt-2 ps-1">{{ wait_approve.count }} รายการ</span>

          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="col-xxl-4 col-md-6">
  <div class="card info-card bg-card">
    <a href="{% url 'parcel:return_command_list' %}">
      <div class="card-body">
        <h5 class="card-title">รายการใบส่งคืน <span>| รออนุมัติ</span></h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-box-arrow-in-right text-success"></i>
          </div>
          <div class="ps-3">
            <h6>{{ all_return_wait_approve.count }} ใบส่งคืน</h6>
            <span class="text-success small pt-1 fw-bold">รออนุมัติ </span> <span class="text-muted small pt-2 ps-1">{{ return_wait_approve.count }} รายการ</span>

          </div>
        </div>
      </div>
    </a>
  </div>
</div>
