{% load tags %}

<!-- modal for request approve -->
<div class="modal fade" id="confirm_request">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ยืนยันการขอเบิก ใบเบิกที่ {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'parcel:request_bill' pk=bill.pk %}">
          {% csrf_token %}
          <p>
          {% for item in items %}
          {{ forloop.counter }}.{{ item.category }} 
          <br> &nbsp;&nbsp;&nbsp; - จำนวน {{ item.quantity }} {{ item.count_text|default:"หน่วย" }}
          <br>{% if not forloop.last %}
          <hr>
          {% endif %}
          {% endfor %}
          </p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
            <button type="submit" class="btn btn-primary">ยืนยัน</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
