{% load tags %}
    <!-- modal for set item location -->
    <div class="modal fade" id="set_item">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ติดตั้ง</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post"
                action="{% url 'parcel:set_item' %}"
                id="set_item_form"
                class="pin-code">
            <div class="modal-body">
              <!-- form to enter pin number to confirm approve -->


              <!-- show object item from data-bs-object -->
              <p id="pk"></p>
              <h3 id='show_data'></h3>

              <!-- add location to select set location to item -->
              {% csrf_token %}

              <!-- select location -->
              <select name="location" class="form-select">
                <option value=""></option>
                {% for item in locations %}
                <option value="{{ item.pk }}">{{ item }}</option>
                {% endfor %}
              </select>

              <br />

              <!-- enter password to confirm approve -->

              <!-- <p>กรุณาใส่รหัสผ่าน</p> -->
              <input
              type="password"
              name="pin-set-item"
              class="form-control"
              placeholder="กรุณาใส่รหัสผ่านเพื่อยืนยันการติดตั้ง"
              style="margin-top: 10px;"
              required
              >
              <input type="hidden" name='item_pk' id="item_pk" value="">

            </div>
            <div class="modal-footer">
              <button id="submit" type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
              <button ="submit" class="btn btn-primary">ยืนยัน</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      $(document).on('click', '#set_item_btn', function(){
        var data = $(this).data('object');
        $('#show_data').html(data);
        var pk = $(this).data('pk');
        $('#set_item').modal('show');
        $("#item_pk").val(pk);
      });

    </script>
