    <!-- modal for set item location -->
    <div class="modal fade" id="set_item_location">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ติดตั้งพัสดุ</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post"
                action="#"
                id="set_item_location_form"
                class="pin-code">
            <div class="modal-body">
              <!-- form to enter pin number to confirm approve -->

              <!-- show object item from data-bs-object -->
              <h3 id='show_data'></h3>
              

              <!-- enter password to confirm approve -->

              <!-- <p>กรุณาใส่รหัสผ่าน</p> -->
              <input type="password" name="pin" class="form-control" placeholder="กรุณาใส่รหัสผ่านเพื่อยืนยันการรับพัสดุ" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
              <button type="submit" class="btn btn-primary">ยืนยัน</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      $(document).on('click', '#set_item_location_btn', function(){
        var data = $(this).data('object');
        $('#show_data').html(data);
        //console.log(typeof data);
        $('#set_item_location').modal('show');
      });
    </script>
