<form id="bill_detail_form" method="post" action="{% url 'parcel:save_return_draft' pk=bill.pk %}">
  {% csrf_token %}
  <tr>
    <td>{{ bill_detail_form.as_table }}</td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="container float-center text-center">
        <!-- <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#manager_check" id="manager_check">บันทึก</button> -->
        <!-- <a type="submit" class="btn btn-lg btn-primary">บันทึก</a> -->
        {% if bill.status == 'DRAFT' %}
        <button type="submit" class="btn btn-lg btn-primary" id="save_draft">
          บันทึก
        </button>
        <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#confirm_return">
          ขอคืน
        </a>
        <a href="#" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#cancel_return">
          ยกเลิก
        </a>
        {% endif %}

      </div>
    </td>
  </tr>
</form>
