{% load tags %}
<form id="bill_detail_form" method="post" action="">
  {% csrf_token %}
  <tr>
    <td>{{ bill_detail_form.as_table }}</td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="container float-center text-center">
        <!-- <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#manager_check" id="manager_check">บันทึก</button> -->
        <!-- <a type="submit" class="btn btn-lg btn-primary">บันทึก</a> -->
        {% if bill.status == 'DRAFT' %}
        <button type="submit" class="btn btn-lg btn-warning" id="save_draft">
          บันทึกร่าง
        </button>
        <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal"
          data-bs-target="#confirm_return">
          ยื่นขอคืน
        </a>
        {% endif %}

      </div>
    </td>
  </tr>
</form>
