{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Repair Management{% endblock title %}


{% block content %}

<div class="pagetitle">
  <h1>จัดการ การแจ้งซ่อม</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active">Inform Home</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row justify-content-center">

    <!-- wait approve -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card bg-card">
        <a href="{% url 'inform:manager_wait' %}">
          <div class="card-body">
            <h5 class="card-title">รายการรออนุมัติ <span>| รออนุมัติ</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-shield-exclamation text-warning"></i>
              </div>
              <div class="ps-3">
                <h6>{{ wait_approve.count }} รายการรออนุมัติ</h6>
                <span class="text-success small pt-1 fw-bold">
                  วันนี้
                </span>
                <span class="text-muted small pt-2 ps-1">
                  {{ wait_approve_today.count }} รายการ
                </span>

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
  <!-- end wait approve -->
  <hr />
  <br>

  <h4 class="fw-bold">รายการสำหรับการจัดการ แจ้งซ่อมสำหรับผู้บังคับบัญชา</h4>
  <div class="row">
    <!-- Management card -->

    <div class="col-xxl-4 col-md-6">
      <div class="card info-card bg-card">
        <a href="#">
          <div class="card-body">
            <h5 class="card-title">รายการแจ้งซ่อมทั้งหมด <span>| รายการ</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-wrench text-warning"></i>
              </div>
              <div class="ps-3">
                <h6>{{ all_inform.count }} รายการ</h6>
                <span class="text-success small pt-1 fw-bold">อนุมัติแล้ว</span>
                <span class="text-muted small pt-2 ps-1">{{ approve.count }} รายการ</span>

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xxl-4 col-md-6">
      <div class="card info-card bg-card">
        <a href="#">
          <div class="card-body">
            <h5 class="card-title">รายการที่กำลังดำเนินการ <span>| รายการ</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-table text-success"></i>
              </div>
              <div class="ps-3">
                <h6>{{ not_done.count }} รายการ</h6>
                <span class="text-success small pt-1 fw-bold">ยังไม่ตอบรับ</span>
                <span class="text-muted small pt-2 ps-1">{{ not_accept.count }} รายการ</span>

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- End Management -->

    <!-- second row -->

    <div class="col-xxl-4 col-md-6">
      <div class="card info-card bg-card">
        <a href="#">
          <div class="card-body">
            <h5 class="card-title">รายการตรวจสอบใหม่ <span>| การแจ้งซ่อม</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-x-octagon text-secondary"></i>
              </div>
              <div class="ps-3">
                <h6>{{ reject.count }} รายการ</h6>
                <span class="text-success small pt-1 fw-bold">ยกเลิก</span> <span class="text-muted small pt-2 ps-1">{{ repair_reject.count }} รายการ</span>

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xxl-4 col-md-6">
      <div class="card info-card bg-card">
        <a href="#">
          <div class="card-body">
            <h5 class="card-title">รายงานการดำเนินการ<span>|</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-tags text-info"></i>
              </div>
              <div class="ps-3">
                <h6>สรุปการดำเนินการ</h6>

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- End List all -->


  </div>
</section>

<script>
  $(document).ready(() => {
    $("#dataTable").DataTable({
      "fnDrawCallback": function (oSettings) {
        if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
          $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
        } else {
          $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
        }
      },
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    });
  });
</script>
{% endblock content %}
