{% load tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Inline CSS Invoice Template</title>
  <style>
    @font-face {
      font-family: "TH Sarabun";
      font-style: normal;
      font-weight: normal;
      src: "/home/lu5her/source/python/django/tcc_webApp/static/assets/fonts/TH-Sarabun-New-Bold.ttf",
    }

    body {
      font-size: 16px;
    }

    .thai-font {
      font-family: "TH Sarabun";
      font-size: 20px;
    }

    .table-bg {
      background: #343a40;
      color: white;
    }
  </style>
</head>

<body>
  <div style="padding: 10px;">
    <table style="width: 100%;">
      <tr style="width: 100%;">
        <td style="width: 50%;">
          <label class="thai-font" style="font-size: 30px; font-weight: bold;">แจ้งซ่อม : {{ context.inform.pk }}/{{ context.inform.created_at.year|thaiyear }}</label><br />
          <label class="thai-font" style="font-size: 18px;">ความเร่งด่วน - {{ context.inform.get_urgency_display }}</label>
        </td>
        <td style="text-align: right;">
          <img style="width: 50px" src="/home/lu5her/source/python/django/tcc_webApp/static/assets/img/tcc_logo.png" />
        </td>
      </tr>
    </table>
    <table style="width: 100%; margin: 10px 0px;">
      <tr style="width: 100%;">
        <td class="thai-font" style="width: 33%; line-height: 25px;">
          <label class="thai-font">ผู้แจ้ง</label><br />
          <label class="thai-font" style="font-weight: bold; font-size: 20px;">{{ context.inform.customer.profile }}</label>
          <br />
          สังกัด {{ context.inform.customer.profile.sector }}
        </td>
        {% if context.inform.accepted %}
          <td class="thai-font" style="width: 33%; line-height: 25px;">
            <label class="thai-font" style="font-weight: bold; font-size: 20px;">ช่างรับผิดชอบ</label><br />
            <label class="thai-font" style="font-weight: bold; font-size: 20px;">{{ context.inform.assigned_to }}</label>
            <br />
            {{ context.inform.get_repair_category_display }}
          </td>
          {% if context.inform.accepted and not context.inform.repair_status == 'CLO' %}
            <td class="thai-font" style="width: 33%; margin: auto;">
              <span style="
                    font-size: 30px;
                    font-weight: bold;
                    padding: 10px;
                    color: green;
                  ">
                Accepted</span>
            </td>
          {% elif context.inform.repair_status == 'CLO' %}
            <td class="thai-font" style="width: 33%; margin: auto;">
              <span style="
                    background-color: black;
                    font-size: 30px;
                    font-weight: bold;
                    padding: 10px;
                    color: red;
                  ">
                CLOSED</span>
            </td>
          {% endif %}
        
        {% endif %}
      </tr>

    </table>

    <table style="width: 100%; border: 1px solid black;">
      <tr>
        <th class="table-bg thai-font" style="padding: 10px;" width="20%">
          ประเภทการแจ้งซ่อม
        </th>
        <td class="thai-font">
          {{ context.inform.get_issue_category_display }}
        </th>
      </td>

      <tr>
        <th class="table-bg thai-font" style="padding: 10px;">
          พัสดุ/อุปกรณ์
        </th>
        <td>
          Category : {{ context.inform.stockitem.category.name }}
          <br>
          Item : {{ context.inform.stockitem.item_name }}
          <br />
          Serial : [{{ context.inform.stockitem.serial }}]
        </td>
      </tr>

      <tr>
        <th class="table-bg thai-font" style="padding: 10px;">
          สถานที่
        </th>
        <td class="thai-font">
          {{ context.inform.customer.profile.department }}
        </td>
      </tr>

      <tr>
        <th class="table-bg thai-font" style="padding: 10px;">
          วันที่แจ้ง
        </th>
        <td class="thai-font">
          {{ context.inform.created_at|thaidate }}
        </td>
      </tr>

      {% if context.customer_review or context.manager_review or context.command_review %}

        <tr>
          <th class="table-bg thai-font" style="padding: 10px;">
            การประเมิน
          </th>
          <td class="thai-font">
            {% if context.customer_review %}
              <label>ผู้แจ้ง : {{ context.customer_review.rating }}/5 คะแนน</label> <br />
            {% endif %}

            {% if context.manager_review %}
              <label>หน.ซบร.ฯ : {{ context.manager_review.rating }}/5 คะแนน</label> <br />
            {% endif %}
            
            {% if context.command_review %}
              <label>ผบช.ฯ : {{ context.command_review.rating }}/5 คะแนน</label>
            {% endif %}
          </td>
        </tr>

      {% endif %}

    </table>

    <br />

    <table class="thai-font" style="width: 100%; position: fixed; bottom: 0;">
      <tr style="width: 100%;">
        <td style="width: 50%;">
          <div>
            หมายเหตุ:
          </div>
          <div>
            บันทึกเพิ่มเติม
          </div>
        </td>
        <td style="
              width: 50%;
              background-color: whitesmoke;
              text-align: center;
              padding: 10px;
            ">
          <label style="
                font-size: 30px;
                color: #e1e1e1;
                text-transform: uppercase;
                margin: auto;
              ">Signature</label>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>
