{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Inform{% endblock title %}

{% block content %}
<div class="pagetitle">
  <h1>{{ title }}เลขที่ {{ object.pk }}/{{ object.created_at.year|thaiyear }}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'inform:home' %}">Inform Home</a></li>
      <li class="breadcrumb-item active">แจ้งซ่อมเลขที่ {{ object.pk }}/{{ object.created_at.year|thaiyear }}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->


<section class="section">
  <div class="row">

    <div class="col-xl-12">
      <div class="card">
        <div class="card-body pt-3">
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#detail">
                รายละเอียด
              </button>
            </li>

            {% if request.user.profile == object.assigned_to %}
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#accept">
                ตอบรับ
              </button>
            </li>

            {% endif %}

            {% if reason %}
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#approve">
                ไม่อนุมัติ
              </button>
            </li>
            {% endif %}

            <!-- TODO: make condition agent and assigned_to -->
            {% if approve and note %}

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#approve">
                บันทึกการทำงาน
                {% comment %}{% if not object.accepted %}<sup><i class="bi bi-exclamation-circle" style="color: red;"></i></sup>{% endif %}{% endcomment %}
              </button>
            </li>
            {% endif %}
          </ul>

          <div class="tab-content pt-2">

            <div id="detail" class="tab-pane fade show active">
              <h6 class="card-title"> รายละเอียด | <span>แจ้งซ่อมเลขที่ {{ object.pk }}/{{ object.created_at.year|thaiyear }}</span></h6>
              <table class="table">
                <tr>
                  <th>หมายเลขการแจ้งซ่อม</th>
                  <td>{{ object.pk }}/{{ object.created_at.year|thaiyear }}</td>
                </tr>

                <tr>
                  <th>ประเภทการแจ้งซ่อม</th>
                  <td>{{ object.get_issue_category_display  }}</td>
                </tr>

                <tr>
                  <th>พัสดุที่แจ้งซ่อม</th>
                  <td>
                    {{ object.stockitem.item_name }}<br/>
                    <a href="{% url 'asset:stockitem_detail' pk=object.stockitem.pk %}">
                      [{{ object.stockitem.serial }}]
                    </a>
                  </td>
                </tr>

                <tr>
                  <th>ความเร่งด่วน</th>
                  {% if object.urgency == 'HIG' %}
                  <td style="color:red">
                    {% elif object.urgency == 'MED' %}
                    <td style="color:orange">
                      {% else %}
                      <td>
                        {% endif %}
                        {{ object.get_urgency_display }}
                      </td>
                </tr>

                <tr>
                  <th>สถานะ</th>
                  {% if not object.approve_status %}
                  {% if object.inform_status == 'INF' %}
                  <td style="color:red;">
                    <i class="bi bi-exclamation-circle" style="color: red;"></i>
                    {% else %}
                    <td>
                      {% endif %}
                      {{ object.get_inform_status_display }}
                    </td>

                    {% elif object.approve_status == 'APR' %}
                    <td>
                      {{ object.get_approve_status_display }}
                    </td>
                    {% elif object.approve_status == 'RJT' %}
                    <td>
                      <i class="bi bi-slash-circle" style="color: red;"></i>
                      {{ object.get_approve_status_display }}
                    </td>
                    {% endif %}
                </tr>

                {% if object.approve_status == 'RJT' %}
                <tr>
                  <th>เหตุผล</th>
                  <td>{{ reason.reason }}</td>
                </tr>
                {% endif %}

                {% if object.repair_status %}
                <tr>
                  <th>สถานะการซ่อม</th>
                  <td>
                    {{ object.get_repair_status_display }}
                    <!-- green if command approve to close -->
                    {% if object.repair_status == 'CLO' and object.closed %}
                    <i class="bi bi-check-circle" style="color: green;"></i>
                    {% elif object.repair_status == 'CLO' %}
                    <i class="bi bi-x-circle" style="color: orange;"></i>

                    {% endif %}
                  </td>
                </tr>
                {% endif %}

                <tr>
                  <th>ผู้แจ้ง</th>
                  <td>
                    {{ object.customer.profile }}
                  </td>
                </tr>

                <tr>
                  <th>วันที่แจ้ง</th>
                  <td>{{ object.created_at|thaidate }} 
                    เวลา {{ object.created_at|date:"H:i" }} น.
                  </td>
                </tr>

              </table>
              <br>

              {% if object.repair_category %}
              <table class="table">
                <!-- tr col span 2 for description -->
                <tr>
                  <th colspan="2" class="text-center">รายละเอียดการจัดการ</th>
                </tr>

                <tr>
                  <th>ประเภทการซ่อม</th>
                  <td>
                    {{ object.get_repair_category_display }}
                  </td>
                </tr>

                {% endif %}
                {% if object.assigned_to %}
                <tr>
                  <th>ช่างผู้รับผิดชอบ</th>
                  <td>
                    {{ object.assigned_to }}
                  </td>
                </tr>
              </table>
              <br>
              {% endif %}

              <table class="table table-borderless">
                <tr>
                  <th class="text-center">รายละเอียด/อาการ</th>
                </tr>
                <tr>
                  <td style="padding-left: 3rem;">{{ object.issue|safe }}</td>
                </tr>
              </table>

              {% if images %}
              <br>

              <hr />
              {% comment %}<div class="card">{% endcomment %}
                {% comment %}<div class="card-body">{% endcomment %}
                  <h5 class="card-title">ภาพประกอบ | <span>ใบแจ้งซ่อมที่ {{ object.pk }}/{{ object.created_at.year|thaiyear }}</span></h5>

                  <!-- Slides with indicators -->
                  <div id="gallery">
                    {% for item in images %}
                    {% comment %} <a class="col s12 m3" href="{{ item.images.url }}" target="_blank">
                      <img height="150" width="150" src="{{ item.images.url }}" alt="">
                    </a> {% endcomment %}
                    <a class="col s12 m3" href="javascript:pswpInit({{forloop.counter0}})">
                      <img height="150" width="150" src="{{ item.images.url }}" alt="">
                    </a>
                    {% endfor %}
                  </div>

                  {% comment %}</div>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% endif %}

            </div><!-- end detail -->

            <div id="approve" class="tab-pane fade pt-3">
              {% if approve and note %}
              <h5 class="card-title">บันทึกการทำงาน | <span>{{ object.title }}</span></h5>
              <table class="table table-borderless">
                {% for n in note %}
                <tr style="border-bottom: 2px dashed grey;">
                  {% if n.status is not None %}<td>{{ n.get_status_display }} : </td>{% endif %}
                  <td>{{ n.note|linebreaks }}</td>
                  <td>{{ n.created_at|thaidate }} เวลา {{ n.created_at|date:"H:m" }}</td>
                </tr>
                {% endfor %}
              </table>

              {% elif reason %}
              <h5 class='card-title'>ไม่อนุมัติการแจ้งซ่อม | <span>{{ object.pk }}/{{ object.created_at.year|thaiyear }}</span></h5>
              <table class="table table-borderless">
                <tr>
                  <th>เหตุผล</th>
                  <td>
                    {{ reason.reason|safe|linebreaks }}
                  </td>
                </tr>
              </table>

              {% else %}

              {% if request.user == object.author %}
              <h5><i class="bi bi-x-circle" style="color: red;">ยังไม่ตอบรับการมอบหมายงาน</i></h5>
              <p>รอ 
              <a href="#">
                {{ object.assigned_to.rank }} {{ object.assigned_to.user.get_full_name }}
              </a> ตอบรับงาน 
              </p>
              {% comment %}<p><a href="{% url 'account:member' pk=object.assigned_to.user.pk %}">รายละเอียด</a></p>{% endcomment %}
              {% endif %}
              {% endif %}

              {% if request.user.profile == object.assigned_to %}
              {% if not object.accepted %}
              <p>
              <i class="bi bi-x-circle" style="color: red;"></i> ยังไม่ตอบรับ | 
              <span>
                กรุณาตอบรับการมอบหมายงานจาก
                <a href="#">
                  {{ object.author.profile.rank }}{{ object.author.get_full_name }}
                </a>
              </span>
              </p>
              <center>
                <a href="{% url 'assign:accept' pk=object.pk %}" class="btn btn-success">ตอบรับงาน</a>
              </center>
              {% endif %}
              {% endif %}

            </div><!-- end notes -->

            <div id="accept" class='tab-pane fade pt-3'>
              {% if request.user.profile == object.assigned_to %}
              <h5 class="card-title">การตอบรับ | <span>{{ object.title }}</span></h5>
              {% if not object.accepted %}
              <p>
              <i class="bi bi-x-circle" style="color: red;"></i> ยังไม่ตอบรับ | 
              <span>
                กรุณาตอบรับการมอบหมายงาน
                <center>
                  <a href="{% url 'inform:accept' pk=object.pk %}" class="btn btn-success">ตอบรับงาน</a>
                </center>
              </span>
              </p>
              {% else %}

                {% if not object.repair_status == 'CLO' %}

                <form method="post" enctype="multipart/form-data" action="{% url 'inform:tech_note' pk=object.pk %}">
                  {% csrf_token %}
                  {{ form.media }}
                  <div class="row mb-3">
                    <label for="{{ form.status.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.status.label }}</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.status }}
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="{{ form.note.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.note.label }}</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.note }}
                    </div>
                  </div>
                  <input type="hidden" name="inform_id" value="{{ object.pk }}">
                  <button class="btn btn-lg" style="float: right; background-color: purple; color: white;" type="submit">อัพเดท</button>
                </form>
                {% else %}
                ปิดงาน

                {% endif %}

                {% endif %}
                {% endif %}
            </div>

          </div><!-- end tab-content -->

        </div><!--end card-->
      </div><!-- end col -->

      <!-- Assign Job -->

        <div class="container float-start text-center">
          {% if request.user == object.customer %}
          <a href="{% url 'inform:department_list' %}" class="btn btn-lg btn-secondary">ย้อนกลับ</a>

          {% if object.approve_status and object.accepted and object.repair_status == 'CLO' and not object.closed %}
          {% if not customer_review %}
            <button type="button" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#reviewModal">Review</button>
          {% endif %}

          {% else %}
          {% if not object.approve_status %}
          <a href="#" class="btn btn-lg btn-warning">ยกเลิก</a>
          {% endif %}
          {% endif %}
          {% endif %}

          {% if request.user|has_group:"StaffRepair" and not object.approve_status %}
          <a href="{% url 'inform:manager_list' %}" class="btn btn-lg btn-secondary">ย้อนกลับ</a>

          {% if customer_review %}
          <button type="button" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#reviewModal">Review</button>

          {% if not object.repair_category %}
          <!-- Create button open modal -->
          <button type="button" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#manager_check">จัดการ</button>
          {% endif %}
          
          {% endif %}

          {% elif request.user|has_group:"Command" and not object.approve_status %}

          <!-- make button approve and reject -->
          <!-- button approve when click show confirm box -->
          <button type="button" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#confirm_approve">อนุมัติ</button>
          <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#confirm_reject">ไม่อนุมัติ</button>

          {% endif %}
        </div>

    </div>

    <div class="modal fade" id="manager_check">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ตรวจสอบ</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post">
              {% csrf_token %}
              <div class="row mb-3">
                <label for="{{ manager_check.repair_category.name }}" class="col-md-4 col-lg-3 col-form-label">{{ manager_check.repair_category.label }}</label>
                <div class="col-md-8 col-lg-9">
                  {{ manager_check.repair_category }}
                </div>
              </div>
              <div class="row mb-3">
                <label for="{{ manager_check.assigned_to.name }}" class="col-md-4 col-lg-3 col-form-label">{{ manager_check.assigned_to.label }}</label>
                <div class="col-md-8 col-lg-9">
                  {{ manager_check.assigned_to }}
                </div>
              </div>
              <!-- <div class="row mb-3"> -->
                <!-- <label for="{{ manager_check.inform_status.name }}" class="col-md-4 col-lg-3 col-form-label">{{ manager_check.inform_status.label }}</label> -->
                <!-- <div class="col-md-8 col-lg-9"> -->
                  {{ manager_check.inform_status }}
                <!-- </div> -->
              <!-- </div> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
            <button type="submit" class="btn btn-primary">ยืนยัน</button>
          </div>
            </form>
        </div>
      </div>
    </div>


    <!-- modal for review -->
    <div class="modal fade" id="reviewModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'inform:review' pk=object.pk %}">
              {% csrf_token %}
              <div class="row mb-3">
                <label for="{{ review_form.rating.name }}" class="col-md-4 col-lg-3 col-form-label">{{ review_form.rating.label }}</label>
                <div class="col-md-8 col-lg-9">
                  {{ review_form.rating }}
                </div>
              </div>
              <div class="row mb-3">
                <label for="{{ review_form.description.name }}" class="col-md-4 col-lg-3 col-form-label">{{ review_form.description.label }}</label>
                <div class="col-md-8 col-lg-9">
                  {{ review_form.description }}
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
            <button type="submit" class="btn btn-primary">ยืนยัน</button>
          </div>
            </form>
        </div>
      </div>
    </div>





    <!-- modal for confirm approve -->
    <div class="modal fade" id="confirm_approve">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ยืนยันการอนุมัติ</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'inform:command_approve' pk=object.pk %}">
              {% csrf_token %}
              <p>ใบแจ้งซ่อมเลขที่ {{ object.pk }}/{{ object.created_at.year|thaiyear }}</p>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                <button type="submit" class="btn btn-primary">ยืนยัน</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- modal for confirm_reject -->
    <div class="modal fade" id="confirm_reject">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ยืนยันการไม่อนุมัติ</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'inform:command_reject' pk=object.pk %}">
              {% csrf_token %}
              <p>ใบแจ้งซ่อมเลขที่ {{ object.pk }}/{{ object.created_at.year|thaiyear }}</p>
              <input type="hidden" name="inform_id" value="{{ object.pk }}">
              <textarea type="text" name="reason" class="form-control" rows="3" placeholder="รายละเอียดการไม่อนุมัติ"></textarea>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                <button type="submit" class="btn btn-primary">ยืนยัน</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>

  <script>
    $(document).ready(function(){
      // if repair_category select option == 'AGN' disabled assigned_to field
      $('select[name="repair_category"]').on('change', function(){
        if($(this).val() == 'AGN'){
          $('select[name="assigned_to"]').prop('disabled', true);
        }else{
          $('select[name="assigned_to"]').prop('disabled', false);
        }
      });
    });

  </script>
</section>
{% include 'components/photoswipe.html' %}
{% endblock content %}
