{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Repair Management{% endblock title %}


{% block content %}

<div class="pagetitle">
  <h1>จัดการ การแจ้งซ่อม</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active">Inform Home</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row justify-content-center">
    <!-- new repair -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card bg-card">
        <a href="{% url 'inform:manager_list' %}">
          <div class="card-body">
            <h5 class="card-title">รายการแจ้งซ่อม <span>| ยังไม่ได้ตรวจสอบ</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-exclamation-octagon text-danger"></i>
              </div>
              <div class="ps-3">
                <h6>{{ wait_check.count }} รายการแจ้งซ่อม</h6>
                <span class="text-success small pt-1 fw-bold">
                  วันนี้
                </span>
                <span class="text-muted small pt-2 ps-1">
                  {{ wait_today.count }} รายการ
                </span>

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- end new repair -->

    <!-- wait approve -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card bg-card">
        <a href="{% url 'inform:manager_wait' %}">
          <div class="card-body">
            <h5 class="card-title">รายการรออนุมัติ <span>| รออนุมัติ</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bookmark-check text-warning"></i>
              </div>
              <div class="ps-3">
                <h6>{{ wait_approve.count }} รายการรออนุมัติ</h6>
                <span class="text-success small pt-1 fw-bold">
                  วันนี้
                </span>
                <span class="text-muted small pt-2 ps-1">
                  {{ wait_approve_today.count }} รายการ
                </span>

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
  <!-- end wait approve -->
  <hr />
  <br>

  <h4>รายการสำหรับการจัดการ แจ้งซ่อม</h4>
  <div class="row">
    <!-- Management card -->

    <div class="col-xxl-4 col-md-6">
      <div class="card info-card bg-card">
        <a href="#">
          <div class="card-body">
            <h5 class="card-title">รายการซ่อมด่วน <span>| รอดำเนินการ</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-wrench text-warning"></i>
              </div>
              <div class="ps-3">
                <h6>{{ urgency_wait.count }} รอดำเนินการ</h6>
                <span class="text-success small pt-1 fw-bold">ดำเนินการแล้ว</span> <span
                  class="text-muted small pt-2 ps-1">{{ urgency_done.count }} รายการ</span>

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xxl-4 col-md-6">
      <div class="card info-card bg-card">
        <a href="#">
          <div class="card-body">
            <h5 class="card-title">ซ่อมโดย จนท. <span>| ประจำสถานี</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-table text-success"></i>
              </div>
              <div class="ps-3">
                <h6>{{ agent_wait.count }} รอดำเนินการ</h6>
                <span class="text-success small pt-1 fw-bold">ดำเนินการแล้ว</span> <span
                  class="text-muted small pt-2 ps-1">{{ agent_done.count }} รายการ</span>

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- End Management -->

    <!-- second row -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card bg-card">
        <a href="#">
          <div class="card-body">
            <h5 class="card-title">วงรอบ <span>| รอดำเนินการ</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-tags text-info"></i>
              </div>
              <div class="ps-3">
                <h6>{{ job_wait.count }} รอดำเนินการ</h6>
                <span class="text-success small pt-1 fw-bold">ดำเนินการแล้ว</span> <span
                  class="text-muted small pt-2 ps-1">{{ job_done.count }} รายการ</span>

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xxl-4 col-md-6">
      <div class="card info-card bg-card">
        <a href="#">
          <div class="card-body">
            <h5 class="card-title">รายการไม่อนุมัติ <span>| การแจ้งซ่อม</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-x-octagon text-secondary"></i>
              </div>
              <div class="ps-3">
                <h6>{{ recheck.count }} รายการ</h6>

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- End List all -->


  </div>
</section>

<script>
  $(document).ready(() => {
    $("#dataTable").DataTable({
      "fnDrawCallback": function (oSettings) {
        if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
          $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
        } else {
          $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
        }
      },
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    });
  });
</script>
{% endblock content %}
