{% load tags %}

<!-- modal for review -->
<div class="modal fade" id="addCar">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ขอใช้ยานพาหนะของทางราชการ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <!-- form for add member -->
        <form method="post" name="car_add_form" id="car_add_form"
          action="{% url 'operation:car_operation_add' pk=object.pk %}">
          {% csrf_token %}
          <div class="row mb-3">
            <label for="{{ car_add_form.car_booking.name }}" class="col-md-4 col-lg-3 col-form-label">{{ car_add_form.car_booking.label }}</label>
            <div class="col-md-8 col-lg-9">
              {{ car_add_form.car_booking }}
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" id="addCarBtn">บันทึก</button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#addCarBtn").click(function() {
    let btn = $(this);
    btn.prop("disabled", true);
    let form = $("#car_add_form");
    form.submit();
    });

  $(document).ready(function () {
    $("#id_car_booking").select2({
      width: "100%",
      dropdownParent: $("#addCar"),
    });
  });

</script>
