{% load tags %}

<!-- modal for review -->
<div class="modal fade" id="addAllowance">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ขอเบิก เบี้ยเลี้ยง</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <!-- form for add member -->
        <form method="post" name="add_allowance" id="add_allowance_form"
          action="#">
          {% csrf_token %}
          <div class="row mb-3">
            <label for="allowance" class="col-md-4 col-lg-3 col-form-label">ครั้งที่ </label>
            <div class="col-md-8 col-lg-9">
              <input type="number" name="allowance" class="form-control" id="allowance">
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <a href="#" class="btn btn-primary" id="addFuelBtn">บันทึก</a></a>
      </div>
    </div>
  </div>
</div>

<script>
$('#addAllowance').on('show.bs.modal', function (event) {
var text_append = $(event.relatedTarget).data('count')
console.log(text_append)
$(this).find("label[for='allowance']").text("ครั้งที่ " + text_append)

})
</script>
