{% load tags %}
<div class="col-xxl-4 col-md-6">
  <div class="card info-card bg-card">
    <a href="{% url 'operation:command_wait_open' %}">
      <div class="card-body">
        <h5 class="card-title">รออนุมัติเปิดงาน <span>| รายการ</span></h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-bookmark-check text-info"></i>
          </div>
          <div class="ps-3">
            <h6>{{ wait_approve_open.count }} ใบงาน</h6>

          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="col-xxl-4 col-md-6">
  <div class="card info-card bg-card">
    <a href="{% url 'operation:command_wait_close' %}">
      <div class="card-body">
        <h5 class="card-title">รออนุมัติปิดงาน <span>| รายการ </span></h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-bookmark-x text-warning"></i>
          </div>
          <div class="ps-3">
            <h6>{{ operation_on_progress.count }} ใบงาน</h6>

          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="col-xxl-4 col-md-6">
  <div class="card info-card bg-card">
    <a href="{% url 'operation:command_overview' %}">
      <div class="card-body">
        <h5 class="card-title">สรุปภาพรวม <span>| รายการใบงาน </span></h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-clipboard-data text-success"></i>
          </div>
          <div class="ps-3">
            <h6>{{ command_overview.count }} ใบงาน</h6>

          </div>
        </div>
      </div>
    </a>
  </div>
</div>

