{% load tags %}

<!-- modal for review -->
<div class="modal fade" id="addNote">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">รายละเอียดงานและสถานที่ปฏิบัติงาน</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <!-- form for add member -->
        <form method="post" name="add_note_form" id="add_note_form"
          action="{% url 'operation:add_note' object.pk %}">
          {% csrf_token %}
          {% for field in note_form %}
          <div class="row mb-3">
            <label for="{{ field.name }}" class="col-md-4 col-lg-3 col-form-label">{{ field.label }}</label>
            <div class="col-md-8 col-lg-9">
              {{ field }}
            </div>
          </div>
          {% endfor %}
          <input type="hidden" name="task" id="task">
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button class="btn btn-primary" id="addNoteBtn">บันทึก</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for delete -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLabel">ยืนยันการลบ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        คุณต้องการลบรายการนี้ใช่หรือไม่?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <!-- <form action="#" method="post" onsubmit="return confirmDelete()"> -->
        <form action="{% url 'operation:delete_task' object.pk %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="task_delete" id="task_delete" value="{{ task }}">
          <button type="submit" class="btn btn-danger">ลบ</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
function openNoteModal(task) {
  $('#task').val(task)
  $('#addNote').modal('show');
}

function deleteTask(task) {
  console.log(task)
  $('#task_delete').val(task)
  $('#deleteConfirmModal').modal('show');
}

$('#addNoteBtn').click(function () {
  $('#add_note_form').submit();
});

function confirmDelete() {
  return confirm("คุณแน่ใจหรือไม่ว่าต้องการลบรายการนี้?");
}
</script>


