{% load tags %}

<!-- modal for review -->
<div class="modal fade" id="changeCar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ยืนยันเสร็จสิ้นงาน</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <!-- form for add member -->
        <form method="post" name="change_car_form" id="change_car_form"
          action="{% url 'operation:change_car' pk=object.pk %}">
          {% csrf_token %}
          <div class="row mb-3">
            <p>เปลี่ยนไปใช้ยานพาหนะส่วนตัวในการปฏิบัติงาน</p>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <a href="#" class="btn btn-primary" id="changeCarBtn">บันทึก</a></a>
      </div>
    </div>
  </div>
</div>

<script>
  $("#changeCarBtn").click(function () {
    let form = $("#car_add_form");
    form.submit();
  });

</script>
