{% load tags %}

<div class="modal fade" id="addFuel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ขอเบิก สป.3</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <!-- form for add member -->
        <form method="post" name="add_fuel" id="add_fuel_form"
          action="{% url 'operation:add_fuel' pk=object.pk %}">
          {% csrf_token %}
          {% for field in add_fuel_form %}
          <div class="row mb-3">
            <label for="{{ field.name }}" class="col-md-4 col-lg-3 col-form-label">{{ field.label }}</label>
            <div class="col-md-8 col-lg-9">
              {{ field }}
            </div>
          </div>
          {% endfor %}

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" id="addFuelBtn">บันทึก</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editFuel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">รายการขอเบิก สป.3</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <!-- form for add member -->
        <form method="post" name="edit_fuel" id="edit_fuel_form"
          action="{% url 'operation:edit_fuel' object.pk %}">
          {% csrf_token %}

          {% for item in object.oil_request.all %}
          <div class="row mb-3">
            <label for="oil_{{ item.pk }}" class="col-md-4 col-lg-3 col-form-label">{{ item.get_oil_type_display }}</label>
            <div class="col-md-8 col-lg-9">
              <input type="number" name="oil_{{ item.pk }}" value="{{ item.liter_request }}" id="oil_{{ item.pk }}" class="form-control">
              <input type="hidden" name="oil_request_pk" value="{{ item.pk }}">
            </div>
          </div>
          {% endfor %}

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" id="editFuelBtn">บันทึก</button>
      </div>
    </div>
  </div>
</div>


<script>
  $("#addFuelBtn").click(function () {
    let form = $("#add_fuel_form");
    let diesel = form.find("input[name='diesel']").val();
    let benzine = form.find("input[name='benzine']").val();
    alert('Fuel added. diesel: ' + diesel + ' benzine: ' + benzine);
    form.submit();
  });


  $("#editFuelBtn").click(function () {
    $(this).prop('disabled', true);
    let form = $("#edit_fuel_form");
    form.submit();
  });
</script>
