{% load tags %}
{% load humanize %}

  {% if object.allowance.refund %}
  <form method="post" action="{% url 'operation:allowance_refund_delete' object.allowance.refund.pk %}" id='delete_refund_form'>
    {% csrf_token %}
    คืนเบี้ยเลี้ยง จำนวน {{ object.allowance.refund.refund_amount }} บาท ({{ object.allowance.refund.refund_amount|read_baht }})
    {% if request.user == object.created_by or request.user == team.team_leader %}
    <button type="submit" id="delete_refund" class="btn btn-sm badge badge-sm bg-danger">ลบ</button>
    {% endif %}
    {% if object.allowance.refund.note %}
    <br>
    - หมายเหตุ : {{ object.allowance.refund.note|safe }}
    {% endif %}
  </form>
  {% if request.user == object.created_by or request.user == team.team_leader %}
  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editRefundModal" id="editRefund"><i class="bi bi-pencil"></i> แก้ไข</button>
  {% endif %}
  {% else %}
  ไม่มีรายการคืนเบี้ยเลี้ยง
  <br>
  <button type="button"
    class="btn btn-sm btn-warning"
    data-bs-toggle="modal"
    data-bs-target="#refundModal" id="addRefund">
    <i class="bi bi-plus"></i>
    คืนเบี้ยเลี้ยง</button>
  {% endif %}

  <div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="refundModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ขอคืนเบี้ยเลี้ยง</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <!-- form for add member -->
          <form method="post" name="add_refund_form" id="add_refund_form"
            action="{% url 'operation:allowance_refund' object.pk %}">
            {% csrf_token %}
            <div class="row mb-3">
              <label for="allowance" class="col-md-4 col-lg-3 col-form-label">จำนวน </label>
              <div class="col-md-8 col-lg-9">
                <input type="number" name="refund_amount" class="form-control" id="refund_amount">
              </div>
              <br>

              <label for="refund_note" class="col-md-4 col-lg-3 col-form-label">หมายเหตุ</label>
              <div class="col-md-8 col-lg-9">
                <textarea rows="2" class="form-control" name="refund_note" id="refund_note"></textarea>
              </div>
            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
          <button type="button" class="btn btn-primary" id="refundBtn">บันทึก</button>
        </div>
      </div>
    </div>
  </div>

  {% if object.allowance.refund %}
  <div class="modal fade" id="editRefundModal" tabindex="-1" role="dialog" aria-labelledby="refundModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">แก้ไขการคืนเบี้ยเลี้ยง</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <!-- form for add member -->
          <form method="post" name="refund_update_from" id="refund_update_from"
            action="{% url 'operation:allowance_refund_update' object.allowance.refund.pk %}">
            {% csrf_token %}
            <div class="row mb-3">
              <label for="refund_amount" class="col-md-4 col-lg-3 col-form-label">ครั้งที่ </label>
              <div class="col-md-8 col-lg-9">
                <input type="number" name="refund_amount" class="form-control" id="refund_amount" value="{{ object.allowance.refund.refund_amount }}">
              </div>
              <br>

              <label for="refund_note" class="col-md-4 col-lg-3 col-form-label">หมายเหตุ</label>
              <div class="col-md-8 col-lg-9">
                <textarea rows="2" class="form-control" name="refund_note" id="refund_note" >{{ object.allowance.refund.note|safe }}</textarea>
              </div>
            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
          <button type="button" class="btn btn-primary" id="editRefundBtn">บันทึก</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <script>
  $('#refundBtn').on('click', function () {
    let btn = $(this)
    btn.prop('disabled', true);
    $('#add_refund_form').submit();
  });

  $('#editRefundBtn').on('click', function () {
    let btn = $(this)
    btn.prop('disabled', true);
    $('#refund_update_from').submit();
  });

  $('delete_refund').on('click', () => {
    $('#delete_refund_form').submit();
  });
  </script>
