{% load tags %}
<div class="col-xxl-4 col-xl-12">
  <div class="card info-card bg-card">
    <a href="{% url 'document:home' %}">
      <div class="card-body">
        <h5 class="card-title">
          สารบรรณ <span>| {{ request.user.profile.sector.name }}</span>
        </h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-book-half" style="color: purple"></i>
          </div>
          <div class="ps-3">
            <h6>{{ all_inbox }} ฉบับ</h6>
            <span class="text-danger small pt-1 fw-bold">{{ new_inbox }}</span> <span class="text-muted small pt-2 ps-1">ยังไม่ตอบรับ</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
