{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'home'  %}" class="logo d-flex align-items-center">
            <img src="{% static 'assets/img/logo.png' %}" alt="">
            <span class="d-none d-lg-block">TCC Portal</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!-- TODO: make qs in all web search -->
    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">

                {% comment %}<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">{% endcomment %}
                    {% comment %}<i class="bi bi-bell"></i>{% endcomment %}
                    {% comment %}<span class="badge bg-primary badge-number">{{ not_read.count }}</span>{% endcomment %}
                    {% comment %}</a><!-- End Notification Icon -->{% endcomment %}

                {% comment %}                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">{% endcomment %}
                    {% comment %}<li class="dropdown-header">{% endcomment %}
                        {% comment %}You have 4 new notifications{% endcomment %}
                        {% comment %}<a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>{% endcomment %}
                        {% comment %}</li>{% endcomment %}
                    {% comment %}<li>{% endcomment %}
                        {% comment %}<hr class="dropdown-divider">{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}<li class="notification-item">{% endcomment %}
                        {% comment %}<i class="bi bi-exclamation-circle text-warning"></i>{% endcomment %}
                        {% comment %}<div>{% endcomment %}
                            {% comment %}<h4>Lorem Ipsum</h4>{% endcomment %}
                            {% comment %}<p>Quae dolorem earum veritatis oditseno</p>{% endcomment %}
                            {% comment %}<p>30 min. ago</p>{% endcomment %}
                            {% comment %}</div>{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}<li>{% endcomment %}
                        {% comment %}<hr class="dropdown-divider">{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}<li class="notification-item">{% endcomment %}
                        {% comment %}<i class="bi bi-x-circle text-danger"></i>{% endcomment %}
                        {% comment %}<div>{% endcomment %}
                            {% comment %}<h4>Atque rerum nesciunt</h4>{% endcomment %}
                            {% comment %}<p>Quae dolorem earum veritatis oditseno</p>{% endcomment %}
                            {% comment %}<p>1 hr. ago</p>{% endcomment %}
                            {% comment %}</div>{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}<li>{% endcomment %}
                        {% comment %}<hr class="dropdown-divider">{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}<li class="notification-item">{% endcomment %}
                        {% comment %}<i class="bi bi-check-circle text-success"></i>{% endcomment %}
                        {% comment %}<div>{% endcomment %}
                            {% comment %}<h4>Sit rerum fuga</h4>{% endcomment %}
                            {% comment %}<p>Quae dolorem earum veritatis oditseno</p>{% endcomment %}
                            {% comment %}<p>2 hrs. ago</p>{% endcomment %}
                            {% comment %}</div>{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}<li>{% endcomment %}
                        {% comment %}<hr class="dropdown-divider">{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}<li class="notification-item">{% endcomment %}
                        {% comment %}<i class="bi bi-info-circle text-primary"></i>{% endcomment %}
                        {% comment %}<div>{% endcomment %}
                            {% comment %}<h4>Dicta reprehenderit</h4>{% endcomment %}
                            {% comment %}<p>Quae dolorem earum veritatis oditseno</p>{% endcomment %}
                            {% comment %}<p>4 hrs. ago</p>{% endcomment %}
                            {% comment %}</div>{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}<li>{% endcomment %}
                        {% comment %}<hr class="dropdown-divider">{% endcomment %}
                        {% comment %}</li>{% endcomment %}
                    {% comment %}<li class="dropdown-footer">{% endcomment %}
                        {% comment %}<a href="#">Show all notifications</a>{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}</ul><!-- End Notification Dropdown Items -->{% endcomment %}

                {% comment %}</li><!-- End Notification Nav -->{% endcomment %}

            {% comment %}            <li class="nav-item dropdown">{% endcomment %}

                {% comment %}<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">{% endcomment %}
                    {% comment %}<i class="bi bi-chat-left-text"></i>{% endcomment %}
                    {% comment %}<span class="badge bg-success badge-number">3</span>{% endcomment %}
                    {% comment %}</a><!-- End Messages Icon -->{% endcomment %}

                {% comment %}<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">{% endcomment %}
                    {% comment %}<li class="dropdown-header">{% endcomment %}
                        {% comment %}You have 3 new messages{% endcomment %}
                        {% comment %}<a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>{% endcomment %}
                        {% comment %}</li>{% endcomment %}
                    {% comment %}<li>{% endcomment %}
                        {% comment %}<hr class="dropdown-divider">{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}<li class="message-item">{% endcomment %}
                        {% comment %}<a href="#">{% endcomment %}
                            {% comment %}<img src="{% static 'assets/img/profile.png' %}" alt="" class="rounded-circle">{% endcomment %}
                            {% comment %}<div>{% endcomment %}
                                {% comment %}<h4>Maria Hudson</h4>{% endcomment %}
                                {% comment %}<p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>{% endcomment %}
                                {% comment %}<p>4 hrs. ago</p>{% endcomment %}
                                {% comment %}</div>{% endcomment %}
                            {% comment %}</a>{% endcomment %}
                        {% comment %}</li>{% endcomment %}
                    {% comment %}<li>{% endcomment %}
                        {% comment %}<hr class="dropdown-divider">{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}<li class="message-item">{% endcomment %}
                        {% comment %}<a href="#">{% endcomment %}
                            {% comment %}<img src="{% static 'assets/img/profile.png' %}" alt="" class="rounded-circle">{% endcomment %}
                            {% comment %}<div>{% endcomment %}
                                {% comment %}<h4>Anna Nelson</h4>{% endcomment %}
                                {% comment %}<p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>{% endcomment %}
                                {% comment %}<p>6 hrs. ago</p>{% endcomment %}
                                {% comment %}</div>{% endcomment %}
                            {% comment %}</a>{% endcomment %}
                        {% comment %}</li>{% endcomment %}
                    {% comment %}<li>{% endcomment %}
                        {% comment %}<hr class="dropdown-divider">{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}<li class="message-item">{% endcomment %}
                        {% comment %}<a href="#">{% endcomment %}
                            {% comment %}<img src="{% static 'assets/img/profile.png'%}" alt="" class="rounded-circle">{% endcomment %}
                            {% comment %}<div>{% endcomment %}
                                {% comment %}<h4>David Muldon</h4>{% endcomment %}
                                {% comment %}<p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>{% endcomment %}
                                {% comment %}<p>8 hrs. ago</p>{% endcomment %}
                                {% comment %}</div>{% endcomment %}
                            {% comment %}</a>{% endcomment %}
                        {% comment %}</li>{% endcomment %}
                    {% comment %}<li>{% endcomment %}
                        {% comment %}<hr class="dropdown-divider">{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}<li class="dropdown-footer">{% endcomment %}
                        {% comment %}<a href="#">Show all messages</a>{% endcomment %}
                        {% comment %}</li>{% endcomment %}

                    {% comment %}</ul><!-- End Messages Dropdown Items -->{% endcomment %}

                {% comment %}</li><!-- End Messages Nav -->{% endcomment %}

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    {% if request.user.profile.image %}
                        <img src="{{ request.user.profile.image.url }}" alt="Profile" class="rounded-circle">
                    {% else %}
                        <img src="{% static 'assets/img/profile.png' %}" alt="Profile" class="rounded-circle">
                    {% endif %}
                    {% if request.user.first_name and request.user.last_name %}
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.get_full_name }}</span>
                    {% else %}
                        <span class="d-none d-md-block dropdown-toggle ps-2">กรุณาอัพเดทข้อมูลส่วนตัว</span>
                    {% endif %}
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        {% if request.user.first_name and request.user.last_name %}
                            <h6>{{ request.user.get_full_name }}</h6>
                        {% if request.user.profile.position %}
                            <span>{{ request.user.profile.position.name }}</span>
                        {% endif %}
                        {% else %}
                            <p class="small mb-0">อัพเดท ข้อมูล <a href="{% url 'account:profile' %}">ที่นี่</a></p>
                        {% endif %}
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'account:profile' %}">
                            <i class="bi bi-person"></i>
                            <span>ข้อมูลส่วนตัว</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-question-circle"></i>
                            <span>ความช่วยเหลือ?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'contact' %}">
                            <i class="bi bi-envelope"></i>
                            <span>ข้อมูลติดต่อ</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>ออกจากกระบบ</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

            {% else %}
            <a class="nav-link nav-icon" href="{% url 'account:register' %}">
                <i class="bi bi-person-check"></i>
                <span class="badge bg-primary badge-number"></span>
                ลงทะเบียนเข้าใช้งาน
            </a><!-- End Notification Icon -->
            <a class="nav-link nav-icon" href="{% url 'login' %}">
                <i class="bi bi-layer-forward"></i>
                <span class="badge bg-primary badge-number"></span>
                เข้าสู่ระบบ
            </a><!-- End Notification Icon -->

            {% endif %}


        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<div class="modal fade" id="logoutModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ต้องการออกจากระบบ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">ยืนยันการออกจากระบบ</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                <a href="{% url 'logout' %}" type="button" class="btn btn-danger">ออกจากกระบบ</a>
            </div>
        </div>
    </div>
</div>
