<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
  <i class="bi bi-handbag"></i>
  <span class="badge bg-success badge-number" id="basket-count">{{ items_on_hand.count }}</span>
</a><!-- End Messages Icon -->

<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
  <li class="dropdown-header">
    คุณมีพัสดุ {{ items_on_hand.count }} รายการ รอการจัดการ
    <a href="{% url 'parcel:item_on_hand_list' %}">
      <span class="badge rounded-pill bg-primary p-2 ms-2">
        ดูทั้งหมด
      </span>
    </a>
  </li>

</ul><!-- End Messages Dropdown Items -->
