{% load tags %}
<div class="col-xxl-4 col-md-6">
  <div class="card info-card bg-card">
    <a href="{% url 'inform:home' %}">
      <div class="card-body">
        {% if request.user|has_group:"Command" %}
        <h5 class="card-title">
          รายการรออนุมัติ <span>| All</span>
        </h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-question-circle" style="color: orange"></i>
          </div>
          <div class="ps-3">
            <h6>
              {{ wait_approve.count }} รายการ
              </h5>
          </div>
        </div>
        {% else %}
        <h5 class="card-title">
          รายการแจ้งซ่อม <span>| {{ request.user.profile.department }}</span>
        </h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-wrench" style="color: orange"></i>
          </div>
          <div class="ps-3">
            <h6>{{ inform_department.count }} แจ้งซ่อม</h6>
            <span class="text-success small pt-1 fw-bold">{{ inform_department.count }}</span> <span
              class="text-muted small pt-2 ps-1">การแจ้งซ่อม</span>
          </div>
        </div>
        {% endif %}
      </div>
    </a>
  </div>
</div>
<!-- End Dummy Card -->
