{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Assign{% endblock title %}

{% block content %}
<div class="pagetitle">
    <h1>{{ object.title }}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            {% if request.user|has_group:"Staff" %}
            <li class="breadcrumb-item"><a href="{% url 'assign:staff-list' %}">Journal List</a></li>
            {% else %}
            <li class="breadcrumb-item"><a href="{% url 'assign:list' %}">Journal List</a></li>
            {% endif %}
            <li class="breadcrumb-item active">{{ object.title }}</li>
        </ol>
    </nav>
    </div><!-- End Page Title -->


    <section class="section">
        <div class="row">

            <div class="col-xl-12">

                <!-- Assign Job -->
                <div class="col-12">
                    <div class="card overflow-auto">

                        <div class="card-body">
                            <h6 class="card-title"> รายละเอียด | <span> {{ object.title }}</span></h6>
                            <table class="table">
                                <tr>
                                    <th>เรื่อง</th>
                                    <td>{{ object.title }}</td>
                                </tr>

                                <tr>
                                    <th>มอบหมายให้</th>
                                    <td>{{ object.assigned_to.rank }}{{ object.assigned_to.user.get_full_name }}</td>
                                </tr>

                                <tr>
                                    <th>สถานะ</th>
                                    {% if object.accepted %}
                                        <td>
                                            <i class="bi bi-check-circle" style="color: green;"></i>
                                            ตอบรับแล้ว เมื่อ<br>
                                            {{ object.accepted_on|thaidate }} เวลา 
                                            {{ object.accepted_on|date:"H:i" }} น.
                                        </td>
                                    {% else %}
                                    <td>
                                        <i class="bi bi-x-circle" style="color:red"></i>
                                        ยังไม่ตอบรับ
                                    </td>
                                    {% endif %}
                                </tr>

                                {% comment %}<tr>{% endcomment %}
                                    {% comment %}<th>ผู้สร้าง</th>{% endcomment %}
                                    {% comment %}<td>{{ object.author.profile.rank }} {{ object.author.get_full_name }}</td>{% endcomment %}
                                {% comment %}</tr>{% endcomment %}

                                <tr>
                                    <th>สร้างเมื่อ</th>
                                    <td>{{ object.created_at|thaidate }} 
                                        เวลา {{ object.created_at|date:"H:i" }} น.
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-borderless">
                                <tr>
                                    <th class="text-center">รายละเอียด</th>
                                </tr>
                                <tr>
                                    <td>{{ object.body|safe|linebreaks }}</td>
                                </tr>
                            </table>

                            {% comment %}{% for img in images %}{% endcomment %}
                                {% comment %}<img src="{{ img.images.url }}" alt="">{% endcomment %}
                                {% comment %}{{ img.images.url }}{% endcomment %}
                            {% comment %}{% endfor %}{% endcomment %}

                        </div>
                    </div>

                    {% if note %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">บันทึกการทำงาน | <span>{{ object.title }}</span></h5>
                            <table class="table table-borderless">
                                {% for n in note %}
                                    <tr style="border-bottom: 2px dashed grey;">
                                        <td>{{ n.note|linebreaks }}</td>
                                        <td>{{ n.created_at|thaidate }} เวลา {{ n.created_at|date:"H:m" }}</td>
                                    </tr>
                                {% endfor %}
                            </table>

                        </div>

                    </div>
                </div>
                {% endif %}

                {% if request.user.profile == object.assigned_to %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">การตอบรับการมอบหมาย | <span>{{ object.title }}</span></h5>
                        {% if not object.accepted %}
                        <p><i class="bi bi-x-circle" style="color: red;"></i> ยังไม่ตอบรับ | <span>กรุณาตอบรับการมอบหมายงานจาก {{ object.author.profile.rank }}{{ object.author.get_full_name }}</span></p>
                            <center>
                                <a href="{% url 'assign:accept' pk=object.pk %}" class="btn btn-success">Accept</a>
                            </center>
                        {% else %}
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                            <div class="row mb-3">
                                <label for="{{ form.status.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.status.label }}</label>
                                <div class="col-md-8 col-lg-9">
                                    {{ form.status }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ Noteform.note.name }}" class="col-md-4 col-lg-3 col-form-label">{{ note_form.note.label }}</label>
                                <div class="col-md-8 col-lg-9">
                                    {{ note_form.note }}
                                </div>
                            </div>

                            <input type="hidden" name="assign_id" value="{{ object.pk }}">
                            <button class="btn btn-lg" style="float: right; background-color: purple; color: white;" type="submit">อัพเดท</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if images %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Image | <span>{{ object.title }}</span></h5>

                        <!-- Slides with indicators -->
                        <div id="gallery">
                            {% for item in images %}
                            {% comment %} <a class="col s12 m3" href="{{ item.images.url }}" target="_blank">
                                <img height="150" width="150" src="{{ item.images.url }}" alt="">
                            </a> {% endcomment %}
                            <a class="col s12 m3" href="javascript:pswpInit({{forloop.counter0}})">
                                <img height="150" width="150" src="{{ item.images.url }}" alt="">
                            </a>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                {% endif %}

                {% if object.author.pk == request.user.pk %}
                <div class="container float-start text-center">
                    <a href="{% url 'assign:staff-list' %}" class="btn btn-lg btn-secondary">ย้อนกลับ</a>
                    <a href="{% url 'assign:delete' pk=object.pk %}" class="btn btn-lg btn-danger">ลบ</a>
                    <a href="{% url 'assign:update' pk=object.pk %}" class="btn btn-lg btn-success">แก้ไข</a>
                </div>
                {% else %}
                <div class="container float-start text-center">
                    <a href="{% url 'assign:list' %}" class="btn btn-lg btn-secondary">ย้อนกลับ</a>
                    <a href="{% url 'home' %}" class="btn btn-lg btn-info">หน้าหลัก</a>
                    {% comment %}<a href="#" class="btn btn-lg btn-success">ปิดงาน</a>{% endcomment %}
                </div>
                {% endif %}

            </div>

        </div>
        </div>
    </section>
    {% include 'components/photoswipe.html' %}
    {% endblock content %}
