{% load tags %}

<form method="POST" action="" id="form_approve">
  {% csrf_token %}
<a href="{{ request.META.HTTP_REFERER }}" class="btn btn-lg btn-secondary">ย้อนกลับ</a>
<!-- button to generate pdf -->
<a href="#" target="_blank" class="btn btn-lg btn-primary">พิมพ์</a>

<!-- TODO: add condition to request open and close operation -->
{% if object.approve_status == "AP" %}
<button type="button" class="btn btn-lg btn-success" id="request_close">ขออนุมัติปิดงาน</button>

{% elif object.approve_status == 'DF' %}
  
<button type="button" class="btn btn-lg btn-warning" id="request_open">ขออนุมัติเปิดงาน</button>

{% endif %}
</form>

<script>
// on ready
$(document).ready(function () {
  $("#request_open, #request_close").click(function () {
    const url = $(this).attr('id') === 'request_open'
      ? `{% url 'operation:request_open' pk=object.pk %}`
      : `{% url 'operation:request_close' pk=object.pk %}`;
    $("#form_approve").attr("action", url).submit();
  });
});

</script>
