{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Car Management{% endblock title %}

{% block content %}
<div class="pagetitle">
    <h1>{{ object.title }}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'car:list' %}">Car List</a></li>
            <li class="breadcrumb-item"><a href="{% url 'car:booking' %}">Booking List</a></li>
            <li class="breadcrumb-item active">{{ object.car.number }}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->


<section class="section">
    <div class="row">

        <div class="col-xl-12">
            <div class="card">
                <div class="card-body pt-3">
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#detail">
                                รายละเอียด
                            </button>
                        </li>
                        {% if images %}
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#image">
                                ภาพการทำงาน
                            </button>
                        </li>{% endif %}
                    </ul>

                    <!-- start tab content -->
                    <div class="tab-content pt-2">
                        <div id="detail" class="tab-pane fade show active">
                            <h6 class="card-title"> รายละเอียด | <span> การขอใช้งาน ที่ {{ object.pk }}/{{ object.created_at.year|thaiyear }}</span></h6>
                            <table class="table">
                                <tr>
                                    <th>ภารกิจ</th>
                                    <td>{{ object.mission }}</td>
                                </tr>

                                <tr>
                                    <th>ประเภทยานพาหนะ</th>
                                    <td>{{ object.car.type.name }}</td>
                                </tr>

                                <tr>
                                    <th>หมายเลขทะเบียน</th>
                                    <td><a href="{% url 'car:detail' pk=object.car.pk %}" target="_blank">{{ object.car.number }}</a></td>
                                </tr>

                                <tr>
                                    <th>วันที่ขอใช้งาน</th>
                                    <td>
                                        {{ object.requested_at|thaidate }}
                                        เวลา {{ object.requested_at|date:"H:m" }} น.
                                    </td>
                                </tr>

                                <tr>
                                    <th>ผู้ควบคุม</th>
                                        <td><a href="{% url 'account:member' pk=object.controler.pk %}" target="_blank">{{ object.controler }}</a></td>
                                </tr>

                                <tr>
                                    <th>พลขับ</th>
                                    <td><a href="{% url 'account:member' pk=object.driver.pk %}" target="_blank">{{ object.driver }}</a></td>
                                </tr>

                                <tr>
                                    <th>ผู้อนุมัติ</th>
                                    <td><a href="{% url 'account:member' pk=object.approver.pk %}" target="_blank">{{ object.approver }}</a></td>
                                </tr>

                                <tr>
                                    <th>สถานะ</th>
                                    <td>{{ object.approve_status.name }}</td>
                                </tr>


                            </table>

                        </div><!-- end detail -->

                <!-- TODO: make condition for button -->
                <div class="container float-start text-center">
                    <a href="{% url 'car:booking' %}" class="btn btn-lg btn-secondary">ย้อนกลับ</a>
                    {% if request.user == object.requester or request.user.profile == object.approver %}
                        {% if object.car.status.name == 'จอง' and object.approve_status.name == 'อนุมัติ' %}
                            <a href="{% url 'car:use-car' pk=object.car.pk %}" class="btn btn-lg btn-info">Use {{ object.car.pk }}</a>
                        {% elif object.car.status.name == 'กำลังใช้งาน' %}
                            <a href="#" class="btn btn-lg btn-success">Return</a>
                        {% endif %}
                    <a href="{% url 'car:booking-update' pk=object.pk %}" class="btn btn-lg btn-warning">อัพเดท</a>
                    {% comment %}<button type="reset" href="#" class="btn btn-lg btn-warning">Reset</button>{% endcomment %}
                    {% endif %}
                </div>
                <br />

                <br />
                </div>

            </div><!-- end tab content -->

        </div>
    </div>

</section>
{% include 'components/photoswipe.html' %}
{% endblock content %}
