{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Booking Management{% endblock title %}


{% block content %}

<div class="pagetitle">
    <h1>รายการขอใช้ยานพาหนะ</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'car:list' %}">Car List</a></li>
            <li class="breadcrumb-item active">Booking list</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">

        <div class="col-xl-12">

            <!-- Recent Job -->
            <div class="col-12">
                <div class="card recent-sales overflow-auto">

                    <div class="card-body">
                        <h5 class="card-title">{{ title }} 
                            <span>| List</span>
                            <span>
                                {% comment %}<a href="{% url 'car:booking-create' %}" class="align-right btn btn-success" style="float: right">{% endcomment %}
                                    {% comment %}<i class="bi bi-plus">{% endcomment %}
                                        {% comment %}ขอใช้ยานพาหนะ{% endcomment %}
                                    {% comment %}</i>{% endcomment %}
                                {% comment %}</a>{% endcomment %}
                            </span>
                        </h5>
                        <br>

                        <table class="table table-hover datatable" id="dataTable">
                            <thead>
                                <tr>
                                    <th scope="col">หมายเลขทะเบียน</th>
                                    <th scope="col">ภารกิจ</th>
                                    <th scope="col">วันที่ขอใช้งาน</th>
                                    <th scope="col">ผู้ควบคุม</th>
                                    <th scope="col">ผู้อนุมัติ</th>
                                    <th scope="col">...</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td>{{ object.car.number }}</td>
                                    <td>{{ object.mission }}</td>
                                    <td>{{ object.requested_at|thaidate }}</td>
                                    <td>{{ object.controler }}</td>
                                    <td>{{ object.approver }}</td>
                                    <td>
                                        <!-- add detail booking -->
                                        <a href="{% url 'car:booking-detail' pk=object.pk %}" class="badge bg-secondary">เพิ่มเติม</a>
                                        <!-- if current user is approver -->
                                        {% if request.user.profile == object.approver %}
                                        <button 
                                            type="button"
                                            id="approve_button"
                                            {% comment %}href="{% url 'car:booking-detail' pk=object.pk %}" {% endcomment %}
                                            data-bs-target="#exampleModal" 
                                            data-bs-toggle="modal" 
                                            data-bs-pk="{{ object.pk }}"
                                            data-bs-link="{% url 'car:detail' pk=object.pk %}"
                                            class="badge bg-warning text-black"
                                            >
                                            {{ object.approve_status.name }}
                                        </button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div><!-- End Announce List -->
            {% comment %}{% if perms.announce.view_announce %}Permission Grant{% endif %}{% endcomment %}

        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        <div class="showLink">

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(() => {
        $("#dataTable").DataTable({
            "fnDrawCallback" : function(oSettings) {
                if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                } else {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                }
            },
            "lengthMenu": [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "All"] ],
        });
    });

    // FIX: edit url and template for show modal
    $(document).ready(function () {
        $('#approve_button').on('click', function () {
            var dataURL = $(this).attr('data-bs-link');
            $('.showLink').load(dataURL);
        });
    });

    // TODO: make modal for update approve_status

</script>
{% endblock content %}
