{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

  {% block title %}Car Management{% endblock title %}

  {% block content %}
  <div class="pagetitle">
    <h1>{{ object.title }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'car:list' %}">Car List</a></li>
        <li class="breadcrumb-item active">{{ object.number }}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->


  <section class="section">
    <div class="row">

      <div class="col-xl-12">
        <div class="card">
          <div class="card-body pt-3">
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#detail">
                  รายละเอียด
                </button>
              </li>
              {% if booking %}
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#booking">
                  การขอใช้ยานพาหนะ
                </button>
              </li>{% endif %}
              {% if refuel %}
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#refuel">
                  การเติมเชื้อเพลิง
                </button>
              </li>
              {% endif %}

              {% if car_fix %}
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#car_fix">
                  ประวัติการซ่อมบำรุง
                </button>
              </li>
              {% endif %}
            </ul>

            <!-- start tab content -->
            <div class="tab-content pt-2">
              <div id="detail" class="tab-pane fade show active">
                {% include "car/components/detail_tab.html" %}

              </div><!-- end detail -->

              <!-- booking tab -->
              <div id="booking" class="tab-pane fade pt-3">
                {% include "car/components/booking_tab.html" %}

              </div><!-- end booking -->

              <!-- refuel tab -->
              <div id="refuel" class="tab-pane fade pt-3">
                {% include "car/components/refuel_tab.html" %}
              </div>

              <!-- fix tab -->
              <div id="car_fix" class="tab-pane fade pt-3">
                {% include "car/components/fix_tab.html" %}
              </div> <!-- end fix -->

            </div>

          </div><!-- end tab -->


          <!-- TODO: make condition for button -->
          <div class="container float-start text-center">
            <a href="{% url 'car:list' %}" class="btn btn-lg btn-secondary">ย้อนกลับ</a>
            <!-- DONE: send pk to booking view -->
            {% if object.status.name == 'พร้อมใช้งาน' %}
            <!-- NOTE: condition for request if fuel more than 15% -->
            {% if object.fuel_now|fuel:object.fuel_max > 15 %}
            <a href="{% url 'car:booking-create' pk=object.pk %}" class="btn btn-lg btn-info">ขอใช้งาน</a>
            {% endif %}
            {% endif %}
            <a href="{% url 'car:refuel' pk=object.pk %}" class="btn btn-lg btn-warning">เติมน้ำมัน</a>
            {% if not object.status.name == 'ซ่อมบำรุง' %}
            <a href="{% url 'car:fix-create' pk=object.pk %}" class="btn btn-lg btn-danger">แจ้งซ่อมบำรุง</a>
            {% endif %}
            {% if request.user|has_group:"Car" %}
            <a href="{% url 'car:update' pk=object.pk %}" class="btn btn-lg btn-warning">แก้ไข</a>
            {% endif %}
          </div>
          <br />

          <br />
        </div>

      </div><!-- end tab content -->

    </div>

  </section>
  {% comment %}{% include 'components/photoswipe.html' %}{% endcomment %}
  <script>
  $(document).ready(function(){
    $("#TableBooking").DataTable({
      "fnDrawCallback" : function(oSettings) {
        if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
          $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
        } else {
          $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
        }
      },
      "lengthMenu": [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "All"] ],
    });
  });
  $(document).ready(function(){
    $("#TableRefuel").DataTable({
      "fnDrawCallback" : function(oSettings) {
        if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
          $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
        } else {
          $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
        }
      },
      "lengthMenu": [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "All"] ],
    });
  });

  </script>
  {% endblock content %}
