{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Car Management{% endblock title %}

{% block content %}
<div class="pagetitle">
    <h1>{{ object.title }}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'car:list' %}">Car List</a></li>
            <li class="breadcrumb-item active">{{ object.number }}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->


<section class="section">
    <div class="row">

        <div class="col-xl-12">
            <div class="card">
                <div class="card-body pt-3">
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#detail">
                                รายละเอียด
                            </button>
                        </li>
                        {% if booking %}
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#booking">
                                การขอใช้ยานพาหนะ
                            </button>
                        </li>{% endif %}
                    </ul>

                    <!-- start tab content -->
                    <div class="tab-content pt-2">
                        <div id="detail" class="tab-pane fade show active">
                            <h6 class="card-title"> รายละเอียด | <span> {{ object.number }}</span></h6>
                            <table class="table">
                                {% comment %}<p>{{ booking }}</p>{% endcomment %}
                                {% comment %}<p>{{ car_fix }}</p>{% endcomment %}
                                <tr>
                                    <th>ประเภท</th>
                                    <td>{{ object.type }}</td>
                                </tr>

                                <tr>
                                    <th>หมายเลขทะเบียน</th>
                                    <td>{{ object.number }}</td>
                                </tr>

                                <tr>
                                    <th>สถานภาพเชื้อเพลิง</th>
                                    <td>
                                        {% with fuel_current=object.fuel_now fuel_max=object.fuel_max %}
                                        <p style="text-align:center;">
                                            {{ fuel_current|fuel:fuel_max|floatformat:"2" }}%
                                            ({{ object.fuel_now|floatformat:"2" }}/{{ object.fuel_max }})
                                        </p>
                                        {% with fuel_current|fuel:fuel_max as per %}
                                        {% if per > 80 %}
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-success" 
                                                 role="progressbar" 
                                                 style="width: {{ object.fuel_now|fuel:object.fuel_max }}%" 
                                                 aria-valuenow="{{ object.fuel_now }}" 
                                                 aria-valuemin="0" 
                                                 aria-valuemax="{{ object.fuel_max }}">
                                                {% comment %}{{ object.fuel_now|fuel:object.fuel_max }}%{% endcomment %}
                                            </div>
                                        </div>
                                        {% elif per > 50 %}
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-warning" 
                                                 role="progressbar" 
                                                 style="width: {{ object.fuel_now|fuel:object.fuel_max }}%;
                                                 color: black;" 
                                                 aria-valuenow="{{ object.fuel_now }}" 
                                                 aria-valuemin="0" 
                                                 aria-valuemax="{{ object.fuel_max }}">
                                                {% comment %}{{ object.fuel_now|fuel:object.fuel_max }}%{% endcomment %}
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped bg-danger" 
                                                 role="progressbar" 
                                                 style="width: {{ object.fuel_now|fuel:object.fuel_max }}%" 
                                                 aria-valuenow="{{ object.fuel_now }}" 
                                                 aria-valuemin="0" 
                                                 aria-valuemax="{{ object.fuel_max }}">
                                                {% comment %}{{ object.fuel_now|fuel:object.fuel_max }}%{% endcomment %}
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endwith %} 
                                        {% endwith %}

                                    </td>
                                </tr>

                                <tr>
                                    <th>สถานะ</th>
                                    <td>{{ object.status }}</td>
                                </tr>

                                <tr>
                                    <th>จำนวนความจุผู้โดยสาร</th>
                                    <td>{{ object.capacity }}</td>
                                </tr>

                                <tr>
                                    <th>เลขไมล์</th>
                                    <td>{{ object.mile_now }}</td>
                                </tr>

                                <tr>
                                    <th>ผู้รับผิดชอบ</th>
                                    <td>{{ object.responsible_man }}</td>
                                </tr>

                            </table>

                            <table class="table table-borderless">
                                <tr>
                                    <th class="text-center">ภาพยานพาหนะ</th>
                                </tr>
                                <tr>
                                    <td>
                                        <center>
                                            <img src="{{ object.car_avatar.url }}" width="100%">
                                        </center>
                                    </td>
                                </tr>
                            </table>

                        </div><!-- end detail -->

                        <!-- booking tab -->
                        <div id="booking" class="tab-pane fade pt-3">
                            <h5 class="card-title">รายการขอใช้ยานพาหนะ | <span>{{ object.number }}</span></h5>

                            <!-- table booking list with search -->
                            <table id="dataTable" class="table table-hover datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">ภารกิจ</th>
                                        <th scope="col">วันที่ขอใช้งาน</th>
                                        <th scope="col">ผู้ควบคุม</th>
                                        <th scope="col">ผู้อนุมัติ</th>
                                        <th scope="col">สถานะ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bk in booking_list %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'car:booking-detail' pk=bk.pk %}">
                                                {{ bk.mission }}
                                            </a>
                                        </td>
                                        <td>{{ bk.requested_at|thaidate }}</td>
                                        <td>{{ bk.controler }}</td>
                                        <td>{{ bk.approver }}</td>
                                        {% if not bk.mile_in %}
                                        <td>{{ bk.car.status }}</td>
                                        {% else %}
                                        <td>เสร็จสิ้น</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div><!-- end booking -->

                <!-- TODO: make condition for button -->
                <div class="container float-start text-center">
                    <a href="{% url 'car:list' %}" class="btn btn-lg btn-secondary">ย้อนกลับ</a>
                    <!-- DONE: send pk to booking view -->
                    {% if object.status.name == 'พร้อมใช้งาน' %}
                    <!-- NOTE: condition for request if fuel more than 15% -->
                        {% if object.fuel_now|fuel:object.fuel_max > 15 %}
                            <a href="{% url 'car:booking-create' pk=object.pk %}" class="btn btn-lg btn-info">ขอใช้งาน</a>
                        {% endif %}
                    {% endif %}
                    <a href="{% url 'car:refuel' pk=object.pk %}" class="btn btn-lg btn-warning">เติมน้ำมัน</a>
                    <a href="#" class="btn btn-lg btn-danger">ซ่อมบำรุง</a>
                    {% if request.user|has_group:"Car" %}
                        <a href="{% url 'car:update' pk=object.pk %}" class="btn btn-lg btn-warning">แก้ไข</a>
                    {% endif %}
                </div>
                <br />

                <br />
            </div>

        </div><!-- end tab content -->

    </div>

</section>
{% comment %}{% include 'components/photoswipe.html' %}{% endcomment %}
{% endblock content %}
