{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}{{ object.item_name }}{% endblock title %}

{% block content %}
<div class="pagetitle">
  <h1>พัสดุ {{ object.item_name }}</h1>
  <p> หมายเลข {{ object.serial }}</p>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'asset:stockitem_home' %}">StockItem Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'asset:stockitem_list' %}">StockItem List</a></li>
      <li class="breadcrumb-item active">{{ object.item_name }}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->


<section class="section">
  <div class="row">

    <div class="col-xl-12">
      <div class="card">
        <div class="card-body pt-3">
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#detail">
                รายละเอียด
              </button>
            </li>
            {% if images %}
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#image">
                ภาพพัสดุ
              </button>
            </li>
            {% endif %}
            {% if repair %} <!-- change to repair -->
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#repair">
                ประวัติการซ่อมบำรุง
              </button>
            </li>
            {% endif %}
          </ul>

          <!-- start tab content -->
          <div class="tab-content pt-2">
            <div id="detail" class="tab-pane fade show active">
              <h6 class="card-title"> รายละเอียด | <span> {{ object.item_name }} - {{ object.serial }}</span></h6>
              <table class="table">
                {% comment %}<p>{{ booking }}</p>{% endcomment %}
                {% comment %}<p>{{ car_fix }}</p>{% endcomment %}
                <tr>
                  <th>ประเภท</th>
                  <td>
                    <a href="{% url 'asset:category_list' pk=object.category.pk %}">
                      {{ object.category.name }}
                    </a>
                  </td>
                </tr>

                <tr>
                  <th>ชื่อพัสดุ</th>
                  <td>{{ object.item_name }}</td>
                </tr>

                <tr>
                  <th>คลังเจ้าของพัสดุ</th>
                  <td>
                    {{ object.stock_control }}
                  </td>
                </tr>

                <tr>
                  <th>หมายเลข Serial</th>
                  <td>{{ object.serial }}</td>
                </tr>

                <tr>
                  <th>ผู้ผลิต/ยี่ห้อ</th>
                  <td>
                    <a href="{% url 'asset:manufacturer_list' pk=object.manufacturer.pk %}">
                      {{ object.manufacturer.name }}
                    </a>
                  </td>
                </tr>

                <tr>
                  <th>Model no.</th>
                  <td>{{ object.model_no }}</td>
                </tr>

                <tr>
                  <th>Part no.</th>
                  <td>{{ object.part_no }}</td>
                </tr>

                <tr>
                  <th>Location</th>
                  <td>{{ object.location.name|default:'-' }}</td>
                </tr>

                {% if object.location_install %}
                <tr>
                  <th>การติดตั้ง</th>
                  <td>{{ object.location_install.name }}</td>
                </tr>
                
                {% endif %}

                <tr>
                  <th>สถานภาพ</th>
                  <td>{{ object.get_status_display }}</td>
                </tr>

                {% if object.location_install %}
                <tr>
                  <th>สถานที่ติดตั้ง</th>
                  <td>{{ object.location_install.name }}</td>
                </tr>
                {% endif %}

              </table>



            </div><!-- end detail -->

            <!-- DONE: image tab -->
            <div id="image" class="tab-pane fade pt-3">
              <h5 class="card-title">ภาพพัสดุ | <span>{{ object.item_name }} ({{ object.serial }})</span></h5>
              <div id="gallery">
                {% for item in images %}
                {% comment %} <a class="col s12 m3" href="{{ item.images.url }}" target="_blank">
                  <img height="150" width="150" src="{{ item.images.url }}" alt="">
                </a> {% endcomment %}
                <a class="col s12 m3" href="javascript:pswpInit({{forloop.counter0}})">
                  <img height="250" width="250" src="{{ item.images.url }}" alt="">
                </a>
                {% endfor %}
              </div>
              <!-- table booking list with search -->

            </div><!-- end repair -->

            <!-- FIX: repair tab -->
            <div id="repair" class="tab-pane fade pt-3">
              <h5 class="card-title">ประวัติการซ่อมบำรุง | <span>{{ object.number }}</span></h5>

              <!-- table booking list with search -->
              <table id="TableBooking" class="table table-hover datatable">
                <thead>
                  <tr>
                    <th scope="col">ภารกิจ</th>
                    <th scope="col">วันที่ขอใช้งาน</th>
                    <th scope="col">ผู้ควบคุม</th>
                    <th scope="col">ผู้อนุมัติ</th>
                    <th scope="col">สถานะ</th>
                  </tr>
                </thead>
                <tbody>
                  {% for bk in booking_list %}
                  <tr>
                    <td>
                      <a href="{% url 'car:booking-detail' pk=bk.pk %}">
                        {{ bk.mission }}
                      </a>
                    </td>
                    <td>{{ bk.requested_at|thaidate }}</td>
                    <td>{{ bk.controler }}</td>
                    <td>{{ bk.approver }}</td>
                    {% if not bk.mile_in %}
                    <td>{{ bk.approve_status }}</td>
                    {% else %}
                    <td>เสร็จสิ้น</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div><!-- end repair -->
          </div>

        </div><!-- end tab -->


        <!-- TODO: make condition for button -->
        <div class="container float-start text-center">
          <!-- DONE: send pk to booking view -->
          {% if object.status == 'AVAILABLE' %}
          <form id="add-form" action="{% url 'cart:cart_add' object.category.pk %}" method="post">
            {% csrf_token %}
            <!-- <a href="#" class="btn btn-primary" onclick="addTest"><span class="bi bi-plus-circle"></span> Add to cart</a> -->
            <!-- input quantity increase and decreasee button -->
            <input type="hidden" name="quantity" id="quantity-{{ object.category.pk }}" value="1" class="form-control mb-2">
            {% if ct.pk in request.session.cart %}
            <input type="hidden" name="override" id="override-{{ object.category.pk }}" value="False">
            {% else %}
            <input type="hidden" name="override" id="override-{{ object.category.pk }}" value="True">
            {% endif %}
            <input type="hidden" name"stock" value="{{ object.location.pk }}">
            <!-- <a href="#" class="btn btn-primary"><span class="bi bi-plus-circle"></span> Add to cart</a> -->
            <a href="{% url 'asset:stockitem_list' %}" class="btn btn-lg btn-secondary">ย้อนกลับ</a>
            <button type="submit" class="btn btn-lg btn-primary">ขอเบิก</button>
            <!-- <a href="#" class="btn btn-lg btn-warning">ขอเบิก</a> -->
          {% endif %}
          {% if perms.asset.change_stockitem or request.user.profile.department == object.location %}
            {% if object.status == 'AVAILABLE'  %}
            <a href="{% url 'asset:stockitem_update' pk=object.pk %}" class="btn btn-lg btn-info">แก้ไข</a>
            {% else %}
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-lg btn-secondary">ย้อนกลับ</a></a>
            {% endif %}
          {% endif %}
        </div>
        <br />

        <br />
      </div>

    </div><!-- end tab content -->

  </div>

</section>
{% include 'components/photoswipe.html' %}
{% endblock content %}
