{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}StockItem Stock{% endblock title %}

{% block content %}

<div class="pagetitle">
    <h1>รายการพัสดุทั้งหมด</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'asset:stockitem_home' %}">StockItem Home</a></li>
            <li class="breadcrumb-item active">asset stock list</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">

        <div class="col-xl-12">

            <!-- Recent Job -->
            <div class="col-12">
                <div class="card recent-sales overflow-auto">

                    <div class="card-body">
                        <h5 class="card-title">{{ title }} 
                            <span>| List</span>
                            {% comment %}{% if perms.asset.add_stockitem %}{% endcomment %}
                            <a href="{% url 'asset:stockitem_create' %}" 
                               class="btn btn-success"
                               style="float: right;">
                                <i class="bi bi-plus"></i>
                                เพิ่ม
                            </a>
                            {% comment %}{% endif %}{% endcomment %}
                        </h5>

                        <br>

                        <table class="table table-hover" id="dataTable">
                            <thead>
                                <tr>
                                    <th scope="col">ประเภทพัสดุ</th>
                                    <th scope="col">ชื่อพัสดุ</th>
                                    <th scope="col">ยี่ห้อ</th>
                                    <th scope="col">serial</th>
                                    <th scope="col">สถานะ</th>
                                    <th scope="col">การติดตั้ง</th>
                                    <th scope="col">Network</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'asset:category_list' pk=object.category.pk %}">
                                            {{ object.category.name }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'asset:stockitem_detail' pk=object.pk %}">
                                            {{ object.item_name }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'asset:manufacturer_list' pk=object.manufacturer.pk %}">
                                            {{ object.manufacturer.name }}
                                        </a>
                                    </td>
                                    <td>{{ object.serial }}</td>
                                    {% if object.get_status_display == 'พร้อมใช้งาน' %}
                                    <td><span><i class="bi bi-check-circle-fill"></i></span>{{ object.get_status_display }}</td>
                                    {% else %}
                                    <td>{{ object.get_status_display }}</td>
                                    {% endif %}
                                    <td>{{ object.location.name }}</td>
                                    <td>
                                        <a href="{% url 'asset:network_list' pk=object.network.pk %}">
                                            {{ object.network.ip_addr }}
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div><!-- End Announce List -->
            {% comment %}{% if perms.announce.view_announce %}Permission Grant{% endif %}{% endcomment %}

        </div>
    </div>
</section>

<script>
    $(document).ready(() => {
        $("#dataTable").DataTable({
            "fnDrawCallback" : function(oSettings) {
                if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                } else {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
                }
            },
            "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
        });
    });
</script>
{% endblock content %}
