{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Parcel{% endblock title %}


{% block content %}

<div class="pagetitle">
  <h1>{{ title }}เลขที่ {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'parcel:home' %}">Parcel Home</a></li>
      <li class="breadcrumb-item active">ใบเบิกเลขที่ {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->


<section class="section">
  <div class="row">

    <div class="col-xl-12">
      <div class="card">
        <div class="card-body pt-3">
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#detail">
                รายละเอียด
              </button>
            </li>

            {% if request.user.profile.department == bill.stock and not bill.status == 'IN_PROGRESS' %}
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#stock_item">
                จัดการพัสดุ
              </button>
            </li>

            {% endif %}

            {% if reason %}
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#approve">
                ไม่อนุมัติ
              </button>
            </li>
            {% endif %}

            {% if request.user == bill.user and bill.billdetail.paid_status == 'RECEIVED' %}
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#parcel">
                พัสดุ
              </button>
            </li>
            {% endif %}
          </ul>

          <div class="tab-content pt-2">

            <div id="detail" class="tab-pane fade show active">
              <h6 class="card-title"> รายละเอียด | <span>แจ้งซ่อมเลขที่ {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</span></h6>
              <table class="table">
                <tr>
                  <th>ใบเบิกที่</th>
                  <td>{{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</td>
                </tr>

                <tr>
                  <th>คลังเจ้าของพัสดุ</th>
                  <td>{{ bill.stock }}</td>
                </tr>

                <tr>
                  <th>พัสุที่ขอเบิก</th>
                  <td>
                    {% for item in items %}
                    {{ forloop.counter }}.{{ item.category }} 
                    <br> &nbsp;&nbsp;&nbsp; - หมายเลข {{ item.item.serial }}
                    <br> &nbsp;&nbsp;&nbsp; - จำนวน {{ item.quantity }} {{ item.count_text|default:"หน่วย" }}
                    <br>{% if not forloop.last %}
                    <hr>
                    {% endif %}
                    {% endfor %}
                  </td>
                </tr>

                <tr>
                  <th>หน่วยเบิก</th>
                  <td>{{ bill.user.profile.department }}</td>
                </tr>

                <tr>
                  <th>ผู้ขอเบิก</th>
                  <td><a href="{% url 'account:member' pk=bill.user.profile.pk %}" target="_blank">{{ bill.user.profile }}</a></td>
                </tr>

                {% if object.approve_status == 'rjt' %}
                <tr>
                  <th>เหตุผล</th>
                  <td>{{ reason.reason }}</td>
                </tr>
                {% endif %}

                <tr>
                  <th>วันที่ทำรายการ</th>
                  <td>{{ bill.created_at|thaidate }} 
                    เวลา {{ bill.created_at|date:"H:i" }} น.
                  </td>
                </tr>

                {% if bill.billdetail.agent %}
                <tr>
                  <th>ผู้ขออนุมัติ</th>
                  <td>{{ bill.billdetail.agent.profile }}</td>
                </tr>
                <tr>
                  <th>วันที่ขออนุมัติ</th>
                  <td>{{ bill.billdetail.request_approve_date|thaidate }} เวลา {{ bill.billdetail.request_approve_date|date:"H:i" }} น.</td>
                </tr>
                {% endif %}

              </table>
              <br>

              <h6 class="card-title">รายละเอียดเพิ่มเติม</h6>

              {% if request.user == bill.user and bill.status == 'DRAFT' %}
              <table class="table table-borderless" style="text-align: left;">
                <form id="bill_detail_form" action="{% url 'parcel:save_draft' pk=bill.pk %}" method="post">
                  {% csrf_token %}
                  <tr>
                    <td>{{ bill_detail_form.as_table }}</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <div class="container float-center text-center">
                        <!-- <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#manager_check" id="manager_check">บันทึก</button> -->
                        <!-- <a type="submit" class="btn btn-lg btn-primary">บันทึก</a> -->
                        {% if bill.status == 'DRAFT' %}
                        <button type="submit" class="btn btn-lg btn-primary" id="save_draft">บันทึก</button>
                        <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#confirm_request">ขอเบิก</a>
                        {% elif not bill.status == 'IN_PROGRESS' %}
                        <a href="{{ request.meta.http_referer }}" class="btn btn-lg btn-danger">ยกเลิก</a>
                        {% else %}
                        <a href="{{ request.meta.http_referer }}" class="btn btn-lg btn-secondary">ย้อนกลับ</a>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                </form>

                {% elif request.user.profile.department == bill.stock %}
                <table class="table" style="text-align: left;">
                  <tr>
                    <th>เบิกในกรณี</th>
                    <td>
                      {{ bill_detail.get_request_case_display }}
                    </td>
                  </tr>

                  <tr>
                    <th>ประเภท สป.</th>
                    <td>{{ bill_detail.item_type|default:'-' }}</td>
                  </tr>

                  <tr>
                    <th>สายงานควบคุม</th>
                    <td>{{ bill_detail.item_control|default:'-' }}</td>
                  </tr>

                  <tr>
                    <th>ประเภทเงิน</th>
                    <td>{{ bill_detail.money_type|default:'-' }}</td>
                  </tr>

                  <tr>
                    <th>เลขที่งาน</th>
                    <td>{{ bill_detail.job_no|default:'-' }}</td>
                  </tr>

                  <tr>
                    <th>ผู้รับแทน</th>
                    {% if bill_detail.receiver %}
                    <td><a href="{% url 'account:member' pk=bill_detail.receiver.pk %}" target="_blank">{{ bill_detail.receiver|default:'-' }}</a></td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                  </tr>

                  {% else %}

                  <table class="table" style="text-align: left;">
                    <tr>
                      <th>เบิกในกรณี</th>
                      <td>
                        {{ bill_detail.get_request_case_display }}
                      </td>
                    </tr>

                    <tr>
                      <th>ประเภท สป.</th>
                      <td>{{ bill_detail.item_type|default:'-' }}</td>
                    </tr>

                    <tr>
                      <th>สายงานควบคุม</th>
                      <td>{{ bill_detail.item_control|default:'-' }}</td>
                    </tr>

                    <tr>
                      <th>ประเภทเงิน</th>
                      <td>{{ bill_detail.money_type|default:'-' }}</td>
                    </tr>

                    <tr>
                      <th>เลขที่งาน</th>
                      <td>{{ bill_detail.job_no|default:'-' }}</td>
                    </tr>

                    <tr>
                      <th>ผู้รับแทน</th>
                      <td><a href="">{{ bill_detail.receiver|default:'-' }}</a></td>
                    </tr>


                    {% endif %}

                  </table>

                  <!-- note: for loop to set serial to item -->
                  {% comment %}

                  {% for item in items %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                      <select class="form-select" name="serial_no" style="width: 100%">
                        <option value="">select item</option>
                        {% for i in item.category.stockitem_set.all|available %}
                        <option value="{{ i.serial }}">{{ i.serial }}</option>
                        {% endfor %}
                      </select>
                    </td>
                  </tr>
                  {% endfor %}
                  {% endcomment %}

            </div><!-- end detail -->

            <div id="approve" class="tab-pane fade pt-3">
            </div>

            <div id="stock_item" class='tab-pane fade pt-3'>
              <form method="post" id="set_serial_form" action="{% url 'parcel:set_serial_item' pk=bill.pk %}">
                {% csrf_token %}
                <table class="table table-striped">
                  <!-- note: for loop to set serial to item -->
                  <tr>
                    <th style="width: 5%;">ลําดับ</th>
                    <th style="width: 20%;">ประเภท</th>
                    <th style="width: 60%;">หมายเลข</th>
                  </tr>
                  {% for item in items %}
                  <tr>
                    <td style="width: 5%;">{{ forloop.counter }}</td>
                    <td style="width: 20%;">{{ item.category }}</td>
                    <td style="width: 60%;">เดิม : {{ item.item.item_name }} - {{ item.item.serial }}
                      <select class="form-select" name="serial_no">
                        <option value="">select item</option>
                        {% for i in item.category.stockitem_set.all|available %}
                        <option value="{{ i.serial }}">{{ i.serial }}</option>
                        {% endfor %}
                      </select>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
                <table class="table table-borderless">
                  <tr>
                    <td><button type="submit" class="btn btn-lg btn-primary" style="float: right;">บันทึกพัสดุ</button></td>
                  </tr>
                </table>
              </form>

            </div>

          </div><!-- end tab-content -->

        </div><!--end card-->

        {% if request.user.profile.department == bill.stock and request.user|has_group:"StockManager" %}

        <table class="table table-borderless">
          <tr>
            <td colspan="2">
              <div class="container float-center text-center">
                <!-- <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#set_serial" id="save_bill">บันทึก</button> -->
                {% if bill.billdetail.approve_status == 'APPROVED' %}
                {% if not bill.billdetail.paider %}
                <a href="#" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#paid_confirm">จ่ายพัสดุ</a>
                {% endif %}
                {% elif not bill.billdetail.agent %}
                <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#request_approve">ขออนุมัติ</a>
                {% else %}
                <button class="btn btn-lg btn-success" disabled>รออนุมัติ</button>
                {% endif %}
                <a href="{% url 'parcel:bill_to_pdf' pk=bill.pk %}" class="btn btn-lg btn-info" target="_blank">เอกสาร</a>
              </div>
            </td>
          </tr>
        </table>

        {% elif request.user|has_group:"Command" %}
        <table class="table table-borderless">
          <tr>
            <td colspan="2">
              <div class="container float-center text-center">
                {% if bill.billdetail.approve_status == 'WAIT' and bill.billdetail.agent %}
                <a href="#" class="btn btn-lg btn-warning" data-bs-toggle="modal" data-bs-target="#reject_bill">ไม่อนุมัติ</a>
                <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#approve_bill">อนุมัติ</a>
                {% endif %}
                <a href="{% url 'parcel:bill_to_pdf' pk=bill.pk %}" class="btn btn-lg btn-info" target="_blank">เอกสาร</a>
              </div>
            </td>
          </tr>
        </table>
        {% else %}

        {% if request.user == bill.user or request.user.profile == bill.billdetail.receiver %}
        <table class="table table-borderless">
          <tr>
            <td colspan="2">
              <div class="container float-center text-center">
                {% if bill.billdetail.paider and not bill.billdetail.paid_status == 'RECEIVED' %}
                {% if request.user.profile == bill.billdetail.receiver %}
                <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#get_item">รับพัสดุ</a>
                {% else %}
                <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#get_item">รับพัสดุ</a>
                {% endif %}

                <!-- <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#paid_confirm">รับพัสดุ</a> -->

                {% endif %}
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-lg btn-secondary">ย้อนกลับ</a>
                <a href="{% url 'parcel:bill_to_pdf' pk=bill.pk %}" class="btn btn-lg btn-info" target="_blank">เอกสาร</a>
              </div>
            </td>
          </tr>
        </table>
        {% endif %}
        {% endif %}

      </div><!-- end col -->

    </div>


    <!-- modal for review -->
    <div class="modal fade" id="set_serial">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm_approve">บันทึก</a></a>
          </div>
        </div>
      </div>
    </div>

    <!-- modal for request approve -->
    <div class="modal fade" id="confirm_request">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ยืนยันการขอเบิก ใบเบิกที่ {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'parcel:request_bill' pk=bill.pk %}">
              {% csrf_token %}
              <p>
              {% for item in items %}
              {{ forloop.counter }}.{{ item.category }} 
              <br> &nbsp;&nbsp;&nbsp; - จำนวน {{ item.quantity }} {{ item.count_text|default:"หน่วย" }}
              <br>{% if not forloop.last %}
              <hr>
              {% endif %}
              {% endfor %}
              </p>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                <button type="submit" class="btn btn-primary">ยืนยัน</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- modal for confirm_reject -->
    <div class="modal fade" id="reject_bill">
      <div class="modal-dialog">
        <form action="{% url 'parcel:reject_bill' pk=bill.pk %}">
          {% csrf_token %}
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">ยืนยันการไม่อนุมัติ</h5>
            </div>
            <div class="modal-body" id="reject_reason">
              <p>เหตุผลที่ไม่อนุมัติ</p>
              <textarea class="form-control" name="note" id="note" cols="30" rows="3"></textarea>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
              <button type="submit" class="btn btn-primary">ยืนยัน</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- modal for enter pin to approve bill -->
    <div class="modal fade" id="approve_bill">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ยืนยันการอนุมัติ</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post"
                action="{% url 'parcel:approve_bill' pk=bill.pk %}"
                id="approve_bill"
                class="pin-code">
            <div class="modal-body">

              <p>
              ยืนยันการอนุมัติใบเบิกที่ : {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}
              <br>
              คลังเจ้าของพัสดุ : {{ bill.stock }}
              <br>
              ผู้ขออนุมัติ : {{ bill.billdetail.agent.profile }}
              </p>
              <!-- form to enter pin number to confirm approve -->
              {% csrf_token %}
              <!-- enter password to confirm approve -->
              <input 
                 type="password" 
                 name="pin" 
                 class="form-control" 
                 placeholder="กรุณาใส่รหัสผ่านเพื่ออนุมัติ" 
                 required
                 />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
              <button type="submit" class="btn btn-primary">ยืนยัน</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- modal for enter pin to request bill -->
    <div class="modal fade" id="request_approve">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ยืนยันการขออนุมัติ</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post"
                action="{% url 'parcel:request_approve' pk=bill.pk %}"
                id="request_bill_form"
                class="pin-code">
            <div class="modal-body">
              <!-- form to enter pin number to confirm approve -->
              {% csrf_token %}
              <p>เพื่อขออนุมัติ ใบเบิกที่ {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</p>

              <p>
              {% for item in items %}
              {{ forloop.counter }}.{{ item.category }} 
              <br> &nbsp;&nbsp;&nbsp; - หมายเลข {{ item.item.serial }}
              <br> &nbsp;&nbsp;&nbsp; - จำนวน {{ item.quantity }} {{ item.count_text|default:"หน่วย" }}
              <br>{% if not forloop.last %}
              <hr>
              {% endif %}
              {% endfor %}
              </p>
              <!-- enter password to confirm approve -->

              <!-- <p>กรุณาใส่รหัสผ่าน</p> -->
              <input type="password" name="pin" class="form-control" placeholder="กรุณาใส่รหัสผ่านเพื่อขออนุมัติ" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
              <button type="submit" class="btn btn-primary">ยืนยัน</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- modal for confirm paid item -->
    <div class="modal fade" id="paid_confirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ยืนยันการจ่ายพัสดุ</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post"
                action="{% url 'parcel:paid_item' pk=bill.pk %}"
                id="confirm_paid_form"
                class="pin-code">
            <div class="modal-body">
              <!-- form to enter pin number to confirm approve -->
              {% csrf_token %}
              <p>เพื่อจ่ายพัสดุตาม ใบเบิกที่ {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</p>

              <p>ผู้เบิก : {{ bill.user.profile }}</p>
              <p>ผู้อนุมัติ : {{ bill.billdetail.approver.profile }}</p>

              {% if bill.billdetail.receiver %}
              <p>ผู้รับแทน : {{ bill.billdetail.receiver }}</p>
              {% else %}
              <p>ผู้รับ : {{ bill.user.profile }}</p>
              {% endif %}

              <!-- enter password to confirm approve -->

              <!-- <p>กรุณาใส่รหัสผ่าน</p> -->
              <input type="password" name="pin" class="form-control" placeholder="กรุณาใส่รหัสผ่านเพื่อขออนุมัติ" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
              <button type="submit" class="btn btn-primary">ยืนยัน</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- modal for confirm get item -->
    <div class="modal fade" id="get_item">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ยืนยันการรับพัสดุ</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post"
                action="{% url 'parcel:recieve_item' pk=bill.pk %}"
                id="confirm_get_form"
                class="pin-code">
            <div class="modal-body">
              <!-- form to enter pin number to confirm approve -->
              {% csrf_token %}
              <p>เพื่อรับพัสดุตาม ใบเบิกที่ {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</p>

              <!-- show item -->
              {% for item in items %}
              <p>{{ forloop.counter }}.&nbsp;{{ item.category }} - {{ item.quantity }} {{ item.count_text|default:"หน่วย" }} [{{ item.item.serial }}]</p>
              {% endfor %}

              <!-- enter password to confirm approve -->

              <!-- <p>กรุณาใส่รหัสผ่าน</p> -->
              <input type="password" name="pin" class="form-control" placeholder="กรุณาใส่รหัสผ่านเพื่อยืนยันการรับพัสดุ" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
              <button type="submit" class="btn btn-primary">ยืนยัน</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <script>
    $(document).ready(function(){
      // if repair_category select option == 'AGN' disabled assigned_to field
      $('select[name="receiver"]').select2({
        width: "100%",
        allowClear: true,
        placeholder: "เลือกผู้รับแทน",
      });
      $('select[name="serial_no"]').select2({
        width: "100%",
        allowClear: true,
        // placeholder: "เลือกอุปกรณ์",
      });
    });
  </script>

  <script>
    // save_serial button click
    $('#save_serial').click(function(){
      // submit form to action url
      let form = $('#set_serial_form');
      form.submit();
    })
  </script>

  <script>
    $('#save_btn').click(function(){
      let data_form = $('#bill_detail_form');
      // $('#save_test').modal('show');
      $('#data_form').html(data_form);
      console.log(data_form);
    });
  </script>

  <script>
    // set auto focus fo all modal input
    $('.modal').on('shown.bs.modal', function () {
      $(this).find('input:first').focus()
    })
  </script>

  <!-- <script>
    $('#approve_form').submit(function(event) {
      event.preventDefault();  // Prevent the default form submission
  </script> -->


</section>
{% include 'components/photoswipe.html' %}
{% endblock content %}
