{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Parcel Management{% endblock title %}

{% block content %}

<div class="pagetitle">
  <h1>รายการใบเบิก</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'parcel:home' %}">Parcel Home</a></li>
      <li class="breadcrumb-item active">Parcel list</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">

    <div class="col-xl-12">

      <!-- Recent Job -->
      <div class="col-12">
        <div class="card recent-sales overflow-auto">

          <div class="card-body">
            <h5 class="card-title">{{ title }}
              <span>| {{ request.user.profile }}</span>
              <a href="{% url 'parcel:select_stock' %}" class="btn btn-success" style="float: right;">
                <i class="bi bi-plus"></i>
                เบิกพัสดุ
              </a>
            </h5>

            <br>

            <table class="table table-hover" id="dataTable">
              <thead>
                <tr>
                  <th scope="col">เลขที่ใบเบิก</th>
                  <th scope="col">วันที่ขอเบิก</th>
                  <th scope="col">คลังที่ขอเบิก</th>
                  <th scope="col">การอนุมัติ</th>
                  <th scope="col">การจ่าย</th>
                </tr>
              </thead>
              <!-- object list -->
              <tbody>
                {% for object in object_list %}
                <tr>
                  <td>{{ object.pk }}</td>
                  <td>{{ object.date }}</td>
                  <td>{{ object.stockitem_set.all }}</td>
                  <td>{{ object.status }}</td>
                  <td>{{ object.payment }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

        </div>
      </div><!-- End Announce List -->
      {% comment %}{% if perms.announce.view_announce %}Permission Grant{% endif %}{% endcomment %}

    </div>
  </div>
</section>

<script>
  $(document).ready(() => {
    $("#dataTable").DataTable({
      "fnDrawCallback": function (oSettings) {
        if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
          $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
        } else {
          $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
        }
      },
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    });
  });
</script>
{% endblock content %}
