{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Parcel Management{% endblock title %}

{% block content %}

<div class="pagetitle">
  <h1>รายการใบเบิก</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'parcel:home' %}">Parcel Home</a></li>
      <li class="breadcrumb-item active">Parcel list</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">

    <div class="col-xl-12">

      <!-- Recent Job -->
      <div class="col-12">
        <div class="card recent-sales overflow-auto">

          <div class="card-body">
            <h5 class="card-title">{{ title }}
              <span>| {{ request.user.profile }}</span>
              {% if not request.user|has_group:"StockManager" and not request.user|has_group:"Command" %}
              <a href="{% url 'parcel:select_stock' %}" class="btn btn-success" style="float: right;">
                <i class="bi bi-plus"></i>
                เบิกพัสดุ
              </a>
              {% endif %}
            </h5>

            <br>

            <table class="table table-hover" id="dataTable">
              <thead>
                <tr>
                  <th scope="col" style="width: 10%">เลขที่ใบเบิก</th>
                  <th scope="col" style="width: 15%">วันที่ขอเบิก</th>
                  <th scope="col" style="width: 25%">ผู้เบิก</th>
                  <!-- condition show header relate user -->
                  <th scope="col" style="width: 10%">สถานะ</th>
                  <th scope="col" style="width: 10%">การจ่าย</th>
                  <th scope="col" style="width: 8%">จัดการ</th>
                </tr>
              </thead>
              <!-- object list -->
              <tbody>
                {% for object in object_list %}
                <tr>
                  <td>{{ object.pk }}/{{ object.created_at.year|thaiyear }}</td>
                  <td>{{ object.created_at|thaidate }}</td>
                  <td>{{ object.user.profile }}</td>
                  <!-- relate show status -->
                  {% if request.user == object.user %}
                  <td>{{ object.get_status_display }}</td>
                  {% elif request.user|has_group:"StockManager" %}
                  <td>{{ object.billdetail.get_approve_status_display|default:"-" }}</td>
                  {% else %}
                  <td>{{ object.billdetail.get_approve_status_display|default:"-" }}</td>
                  {% endif %}
                  <td>{{ object.billdetail.paid_at|default:"-" }}</td>
                  <td>
                    <a href="{% url 'parcel:bill_detail' object.pk %}" class="btn btn-sm btn-primary" style="width: 100%;">
                      <i class="bi bi-eye"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

        </div>
      </div><!-- End Announce List -->
      {% comment %}{% if perms.announce.view_announce %}Permission Grant{% endif %}{% endcomment %}

    </div>
  </div>
</section>

<script>
  $(document).ready(() => {
    $("#dataTable").DataTable({
      "fnDrawCallback": function (oSettings) {
        if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
          $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
        } else {
          $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
        }
      },
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    });
  });
</script>
{% endblock content %}
