{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Parcel{% endblock title %}

{% block content %}
<div class="pagetitle">
  <h1>{{ title }}เลขที่ {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'parcel:home' %}">Parcel Home</a></li>
      <li class="breadcrumb-item active">ใบเบิกเลขที่ {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->


<section class="section">
  <div class="row">

    <div class="col-xl-12">
      <div class="card">
        <div class="card-body pt-3">
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#detail">
                รายละเอียด
              </button>
            </li>

            {% if request.user.profile.department == bill.stock %}
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#stock_item">
                จัดการพัสดุ
              </button>
            </li>

            {% endif %}

            {% if reason %}
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#approve">
                ไม่อนุมัติ
              </button>
            </li>
            {% endif %}

            <!-- TODO: make condition agent and assigned_to -->
            {% if approve and note %}
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#approve">
                บันทึกการทำงาน
                {% comment %}{% if not object.accepted %}<sup><i class="bi bi-exclamation-circle" style="color: red;"></i></sup>{% endif %}{% endcomment %}
              </button>
            </li>
            {% endif %}

            {% if customer_review or manager_review or command_review %}
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#review">
                การประเมิน
                {% comment %}{% if not object.accepted %}<sup><i class="bi bi-exclamation-circle" style="color: red;"></i></sup>{% endif %}{% endcomment %}
              </button>
            </li>
            {% endif %}
          </ul>

          <div class="tab-content pt-2">

            <div id="detail" class="tab-pane fade show active">
              <h6 class="card-title"> รายละเอียด | <span>แจ้งซ่อมเลขที่ {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</span></h6>
              <table class="table">
                <tr>
                  <th>ใบเบิกที่</th>
                  <td>{{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</td>
                </tr>

                <tr>
                  <th>คลังเจ้าของพัสดุ</th>
                  <td>{{ bill.stock }}</td>
                </tr>

                <tr>
                  <th>พัสุที่ขอเบิก</th>
                  <td>
                    {% for item in items %}
                    {{ forloop.counter }}.{{ item.category }} {{ item.serial }}<br>
                    {% endfor %}
                  </td>
                </tr>

                <tr>
                  <th>หน่วยเบิก</th>
                  <td>{{ bill.user.profile.department }}</td>
                </tr>

                <tr>
                  <th>ผู้ขอเบิก</th>
                  <td>{{ bill.user.profile }}</td>
                </tr>

                {% if object.approve_status == 'RJT' %}
                <tr>
                  <th>เหตุผล</th>
                  <td>{{ reason.reason }}</td>
                </tr>
                {% endif %}

                <tr>
                  <th>วันที่ทำรายการ</th>
                  <td>{{ bill.created_at|thaidate }} 
                    เวลา {{ bill.created_at|date:"H:i" }} น.
                  </td>
                </tr>

              </table>
              <br>

              <h6 class="card-title">รายละเอียดเพิ่มเติม</h6>
              <table class="table" style="text-align: left;">
                
                {% if request.user == bill.user %}
                <tr>
                  <td>{{ bill_detail_form.as_table }}</td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="container float-center text-center">
                      <!-- <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#manager_check" id="manager_check">บันทึก</button> -->
                      <a href="#" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#manager_check">บันทึก</a>
                      <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#confirm_approve">ขอเบิก</a>
                    </div>
                  </td>
                </tr>

                {% elif request.user.profile.department == bill.stock %}
                <tr>
                  <th>เบิกในกรณี</th>
                  <td>
                    {{ bill_detail.get_request_case_display }}
                  </td>
                </tr>

                <tr>
                  <th>ประเภท สป.</th>
                  <td>{{ bill_detail.item_type|default:'-' }}</td>
                </tr>

                <tr>
                  <th>สายงานควบคุม</th>
                  <td>{{ bill_detail.item_control|default:'-' }}</td>
                </tr>

                <tr>
                  <th>ประเภทเงิน</th>
                  <td>{{ bill_detail.money_type|default:'-' }}</td>
                </tr>

                <tr>
                  <th>เลขที่งาน</th>
                  <td>{{ bill_detail.job_no|default:'-' }}</td>
                </tr>

                <tr>
                  <th>ผู้รับแทน</th>
                  <td>{{ bill_detail.receiver|default:'-' }}</td>
                </tr>

                {% comment %}
                  
                <tr>
                  <td colspan="2">
                    <div class="container float-center text-center">
                      <!-- <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#manager_check" id="manager_check">บันทึก</button> -->
                      {% if bill.billdetail.approved %}
                      <a href="#" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#manager_check">จ่ายพัสดุ</a>
                      {% else %}
                      <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#confirm_reject">ขออนุมัติ</a>
                      {% endif %}
                      <a href="{% url 'parcel:bill_to_pdf' pk=bill.pk %}" class="btn btn-lg btn-secondary" target="_blank">PDF</a>
                    </div>
                  </td>
                </tr>
                {% endcomment %}

                {% else %}

                <tr>
                  <th>เบิกในกรณี</th>
                  <td>
                    {{ bill_detail.get_request_case_display }}
                  </td>
                </tr>

                <tr>
                  <th>ประเภท สป.</th>
                  <td>{{ bill_detail.item_type|default:'-' }}</td>
                </tr>

                <tr>
                  <th>สายงานควบคุม</th>
                  <td>{{ bill_detail.item_control|default:'-' }}</td>
                </tr>

                <tr>
                  <th>ประเภทเงิน</th>
                  <td>{{ bill_detail.money_type|default:'-' }}</td>
                </tr>

                <tr>
                  <th>เลขที่งาน</th>
                  <td>{{ bill_detail.job_no|default:'-' }}</td>
                </tr>

                <tr>
                  <th>ผู้รับแทน</th>
                  <td>{{ bill_detail.receiver|default:'-' }}</td>
                </tr>


                {% endif %}

              </table>

                <!-- NOTE: for loop to set serial to item -->
                {% comment %}
                  
                {% for item in items %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>
                    <select class="form-select" name="serial_no" style="width: 100%">
                      <option value="">Select item</option>
                      {% for i in item.category.stockitem_set.all|available %}
                      <option value="{{ i.serial }}">{{ i.serial }}</option>
                      {% endfor %}
                    </select>
                  </td>
                </tr>
                {% endfor %}
                {% endcomment %}


        
              {% if images %}
              <br>

              <hr />
              {% comment %}<div class="card">{% endcomment %}
                {% comment %}<div class="card-body">{% endcomment %}
                  <h5 class="card-title">ภาพประกอบ | <span>ใบแจ้งซ่อมที่ {{ object.pk }}/{{ object.created_at.year|thaiyear }}</span></h5>

                  <!-- Slides with indicators -->
                  <div id="gallery">
                    {% for item in images %}
                    {% comment %} <a class="col s12 m3" href="{{ item.images.url }}" target="_blank">
                      <img height="150" width="150" src="{{ item.images.url }}" alt="">
                    </a> {% endcomment %}
                    <a class="col s12 m3" href="javascript:pswpInit({{forloop.counter0}})">
                      <img height="150" width="150" src="{{ item.images.url }}" alt="">
                    </a>
                    {% endfor %}
                  </div>

                  {% comment %}</div>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% endif %}

            </div><!-- end detail -->

            <div id="approve" class="tab-pane fade pt-3">
              {% if approve and note %}
              <h5 class="card-title">บันทึกการทำงาน | <span>{{ object.title }}</span></h5>
              <table class="table table-borderless">
                {% for n in note %}
                <tr style="border-bottom: 2px dashed grey;">
                  {% if n.status is not None %}<td>{{ n.get_status_display }} : </td>{% endif %}
                  <td>{{ n.note|linebreaks }}</td>
                  <td>{{ n.created_at|thaidate }} เวลา {{ n.created_at|date:"H:m" }}</td>
                </tr>
                {% endfor %}
              </table>

              {% elif reason %}
              <h5 class='card-title'>ไม่อนุมัติการแจ้งซ่อม | <span>{{ object.pk }}/{{ object.created_at.year|thaiyear }}</span></h5>
              <table class="table table-borderless">
                <tr>
                  <th>เหตุผล</th>
                  <td>
                    {{ reason.reason|safe|linebreaks }}
                  </td>
                </tr>
              </table>

              {% else %}

              {% if request.user == object.author %}
              <h5><i class="bi bi-x-circle" style="color: red;">ยังไม่ตอบรับการมอบหมายงาน</i></h5>
              <p>รอ 
              <a href="#">
                {{ object.assigned_to.rank }} {{ object.assigned_to.user.get_full_name }}
              </a> ตอบรับงาน 
              </p>
              {% comment %}<p><a href="{% url 'account:member' pk=object.assigned_to.user.pk %}">รายละเอียด</a></p>{% endcomment %}
              {% endif %}
              {% endif %}

              {% if request.user.profile == object.assigned_to %}
              {% if not object.accepted %}
              <p>
              <i class="bi bi-x-circle" style="color: red;"></i> ยังไม่ตอบรับ | 
              <span>
                กรุณาตอบรับการมอบหมายงานจาก
                <a href="#">
                  {{ object.author.profile.rank }}{{ object.author.get_full_name }}
                </a>
              </span>
              </p>
              <center>
                <a href="{% url 'assign:accept' pk=object.pk %}" class="btn btn-success">ตอบรับงาน</a>
              </center>
              {% endif %}
              {% endif %}

            </div><!-- end notes -->

            <div id="stock_item" class='tab-pane fade pt-3'>
              <table class="table table-striped">
                <!-- NOTE: for loop to set serial to item -->
                {% for item in items %}
                <tr>
                  <td style="width: 5%;">{{ forloop.counter }}</td>
                  <td style="width: 20%;">{{ item.category }}</td>
                  <form method="post">
                    <td>
                      {% csrf_token %}
                      <select class="form-select" name="serial_no" style="width: 100%">
                        <option value="">Select item</option>
                        {% for i in item.category.stockitem_set.all|available %}
                        <option value="{{ i.serial }}">{{ i.serial }}</option>
                        {% endfor %}
                      </select>
                    </td>
                    <td style="width: 10%;">
                      <!-- <a href="{% url 'parcel:set_serial_item' %}" class="btn btn-sm btn-success">Set</a> -->
                      <!-- <input type="submit" class="btn btn-sm btn-success" value="Set"> -->
                      <a href="javascript:set_serial_item()" class="btn btn-sm btn-success">Set</a>
                    </td>
                  </form>
                </tr>
                {% endfor %}
              </table>
              <table class="table table-borderless">
                <tr>
                  <td colspan="2">
                    <div class="container float-center text-center">
                      <!-- <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#manager_check" id="manager_check">บันทึก</button> -->
                      <a href="#" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#manager_check">บันทึก</a>
                      <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#confirm_approve">ขอเบิก</a>
                      <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#confirm_reject">ยกเลิก</a>
                      <a href="#" class="btn btn-lg btn-secondary" data-bs-toggle="modal" data-bs-target="#confirm_reject">PDF</a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>


            <div id="review" class="tab-pane fade pt-3">
              <h5 class="card-title">รายละเอียดการประเมิน | <span>{{ object.title }}</span></h5>
              <table class="table table-striped">
                <!-- customer review -->
                {% if customer_review %}
                  <tr>
                    <th scope="row" class="col-md-3"></th>
                    <th class="col-md-2 text-center">คะแนนการประเมิน</th>
                    <th class="col-md-7 ">รายละเอียด</th>
                  </tr>

                  <tr>
                    <td scope="row">การประเมินของผู้แจ้ง</th>
                    <td class="text-center">
                      {{ customer_review.rating }}
                    </td>
                    <td>
                      {{ customer_review.description|linebreaks }}
                    </td>
                    <tr>
                {% endif %}
                {% if manager_review %}
                <tr>
                    <td scope="row">การประเมินของหัวหน้าซ่อมบำรุง</td>
                    <td class="text-center">
                      {{ manager_review.rating }}
                    </td>
                    <td>
                      {{ manager_review.description|linebreaks }}
                    </td>
                  </tr>
                {% endif %}
                {% if command_review %}
                <tr>
                    <td scope="row">การประเมินของผู้บริหาร</td>
                    <td class="text-center">
                      {{ command_review.rating }}
                    </td>
                    <td>
                      {{ command_review.description|linebreaks }}
                    </td>
                  </tr>
                {% endif %}
              </table>
            </div>

          </div><!-- end tab-content -->

        </div><!--end card-->

        {% if request.user.profile.department == bill.stock %}
        
        <table class="table table-borderless">
          <tr>
            <td colspan="2">
              <div class="container float-center text-center">
                <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#set_serial" id="save_bill">บันทึก</button>
                {% if bill.billdetail.approved %}
                <a href="#" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#manager_check">จ่ายพัสดุ</a>
                {% else %}
                <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#confirm_reject">ขออนุมัติ</a>
                {% endif %}
                <a href="{% url 'parcel:bill_to_pdf' pk=bill.pk %}" class="btn btn-lg btn-secondary" target="_blank">PDF</a>
              </div>
            </td>
          </tr>
        </table>

        {% elif request.user|has_group:"Command" %}
        <table class="table table-borderless">
          <tr>
            <td colspan="2">
              <div class="container float-center text-center">
                {% if bill.billdetail.approved %}
                <a href="#" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#confirm_reject">อนุมัติ</a>
                {% endif %}
                <a href="{% url 'parcel:bill_to_pdf' pk=bill.pk %}" class="btn btn-lg btn-secondary" target="_blank">PDF</a>
              </div>
            </td>
          </tr>
        </table>
        {% else %}
        <table class="table table-borderless">
          <tr>
            <td colspan="2">
              <div class="container float-center text-center">
                <!-- <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#manager_check" id="manager_check">บันทึก</button> -->
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-lg btn-success">ย้อนกลับ</a>
                <a href="{% url 'parcel:bill_to_pdf' pk=bill.pk %}" class="btn btn-lg btn-secondary" target="_blank">PDF</a>
              </div>
            </td>
          </tr>
        </table>

        {% endif %}

      </div><!-- end col -->

    </div>


    <!-- modal for review -->
    <div class="modal fade" id="set_serial">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm_approve">บันทึก</a></a>
          </div>
        </div>
      </div>
    </div>

    <!-- modal for confirm approve -->
    <div class="modal fade" id="confirm_approve">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ยืนยันการอนุมัติ</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'inform:command_approve' pk=bill.pk %}">
              {% csrf_token %}
              <p>ใบแจ้งซ่อมเลขที่ {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</p>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                <button type="submit" class="btn btn-primary">ยืนยัน</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- modal for confirm_reject -->
    <div class="modal fade" id="confirm_reject">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ยืนยันการไม่อนุมัติ</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="#">
              {% csrf_token %}
              <p>ใบแจ้งซ่อมเลขที่ {{ bill.pk }}/{{ bill.created_at.year|thaiyear }}</p>
              <input type="hidden" name="inform_id" value="{{ object.pk }}">
              <textarea type="text" name="reason" class="form-control" rows="3" placeholder="รายละเอียดการไม่อนุมัติ"></textarea>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                <button type="submit" class="btn btn-primary">ยืนยัน</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>

  <script>
    $(document).ready(function(){
      // if repair_category select option == 'AGN' disabled assigned_to field
      $('select[name="receiver"]').select2({
        width: "100%",
        allowClear: true,
        placeholder: "เลือกผู้รับแทน",
      });
      $('select[name="serial_no"]').select2({
        width: "100%",
        allowClear: true,
        placeholder: "เลือกอุปกรณ์",
      });
    });
  </script>

  <script>
    function set_serial_item() {
      $('#set_serial').modal('show');
    }
  </script>
</section>
{% include 'components/photoswipe.html' %}
{% endblock content %}
