{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Request Stock Bill{% endblock title %}

{% block content %}
<div class="pagetitle">
    <h1>Select Department for Request</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'parcel:home' %}">Parcel Home</a></li>
            <li class="breadcrumb-item active">Select Stock</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">

        <div class="col-xl-12">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <buttont class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Select Department</buttont>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview"></div>
                        {% comment %}{{ errors }}{% endcomment %}
                        {% if errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ errors }}
                        </div>
                        {% endif %}
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                             
                             {% comment %}{{ form|crispy }} {% endcomment %}
                            
                            <div class="row mb-3">
                                <label for="{{ form.department.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.department.label }}</label>
                                <div class="col-md-8 col-lg-9">
                                    {{ form.department }}
                                </div>
                            </div>

                            <br>

                            <div class="text-center">
                              <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-lg btn-secondary">ย้อนกลับ</a>
                                <button type="submit" class="btn btn-lg btn-success">ตกลง</button>
                            </div>

                        </form>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("select").select2({
                width: "100%",
            });
        });
    </script>
</section>

{% endblock content %}
