{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}
{% load humanize %}

  {% block title %}Operation{% endblock title %}

  {% block content %}
  <div class="pagetitle">
    <h1>{{ title }}เลขที่ {{ object.pk }}/{{ object.created_at.year|thaiyear }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'operation:home' %}">Operation Home</a></li>
        <li class="breadcrumb-item active">ใบงานที่ {{ object.pk }}/{{ object.created_at.year|thaiyear }}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->


  <section class="section">
    <!-- TODO: if user == team_leader or user == object.created_by render form instance -->
    <div class="row">

      <div class="col-xl-12">
        <div class="card">
          <div class="card-body pt-3">
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#detail">
                  รายละเอียด
                </button>
              </li>

              <!-- TODO: edit to team_leader -->
              {% if request.user == team.team_leader and not team.accepted %}
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#accept">
                  หัวหน้าชุด
                </button>
              </li>

              {% endif %}

            </ul>

            <div class="tab-content pt-2">

              <div id="detail" class="tab-pane fade show active">
                <h6 class="card-title"> รายละเอียด | <span>ใบงานเลขที่ {{ object.pk }}/{{ object.created_at.year|thaiyear }}</span></h6>
                <table class="table">
                  <tr>
                    <th>เลชที่ใบงาน</th>
                    <td>{{ object.pk }}/{{ object.created_at.year|thaiyear }}</td>
                  </tr>

                  <tr>
                    <th>ประเภทงาน</th>
                    {% if object.type_of_work %}
                    <td>{{ object.get_type_of_work_display  }}</td>

                    {% else %}
                    <td>{{ object.other_type }}</td>

                    {% endif %}

                  </tr>

                  <tr>
                    <th>หัวหน้าชุด</th>
                    <td>
                      <a href="{% url 'account:member' pk=team.team_leader.pk %}" target="_blank">
                        {{ team.team_leader.profile }}
                      </a>
                      &nbsp;
                      {% if team.accepted %}
                      <span class="badge bg-success">ตอบรับแล้ว</span>
                      {% else %}
                      <span class="badge bg-warning">รอตอบรับ</span>
                      {% endif %}
                  </tr>

                  <tr>
                    <th>ลูกชุด</th>
                    <td>
                      {% if members %}
                      {% include "operation/components/members_sector.html" %}
                      {% include "operation/components/add_member_modal.html" %}
                      {% else %}
                      ยังไม่ได้กำหนดลูกชุด 
                      <button href="#"
                        class="btn btn-sm btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#addMember"
                      >กำหนดลูกชุด</button>
                      {% include "operation/components/add_member_modal.html" %}
                      {% endif %}

                    </td>
                  </tr>

                  <tr>
                    <th>วันปฏิบัติงาน</th>
                    <td>
                      วันออก : {{ object.start_date|thaidate }}
                      <br>
                      วันกลับ : {{ object.end_date|thaidate }}
                      <br>
                      <button
                        type="button"
                        class="btn btn-sm btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#updateDate"
                      >แก้ไขวันปฏิบัติงาน</button>
                      {% include "operation/components/update_date_modal.html" %}
                    </td>
                  </tr>

                  <tr>
                    <th>ยานพาหนะที่ใช้ปฏิบัติงาน</th>
                    <td>
                      {% if object.own_car %}
                      ยานพาหนะส่วนตัว
                      <br>
                      <button 
                        class="btn btn-sm btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#addCar"
                        type="button">ใช้ยานพาหนะของทางราชการ</button>
                      {% else %}
                      ใช้ยานพาหนะของทางราชการ
                      {% if cars %}
                      <ol>
                        {% for car in cars %}
                        <li>
                          ประเภท&nbsp;&nbsp;{{ car.car_booking.car.type }}&nbsp;&nbsp;
                          ยี่ห้อ&nbsp;&nbsp;{{ car.car_booking.car.manufacturer }} &nbsp;&nbsp;
                          ทะเบียน&nbsp;&nbsp;{{ car.car_booking.car.number }} &nbsp;&nbsp;
                          ไมล์ออก&nbsp;&nbsp;{{ car.car_booking.car.mile_now }}&nbsp;&nbsp;
                          ไมล์เข้า&nbsp;&nbsp;{{ car.car_booking.car.mile_in|default:"-" }}&nbsp;&nbsp;
                          <a href="#" 
                            data-bs-toggle="modal"
                            data-bs-target="#returnCar"
                            class='badge badge-sm bg-danger'>
                            คืนยานพาหนะ
                          </a> <!-- TODO: add modal to return car -->
                          {% include "operation/components/return_car_modal.html" %}
                        </li>
                        {% endfor %}
                      </ol>
                      {% else %}
                      <br>
                      <i class="bi bi-exclamation-circle text-danger"></i>&nbsp; ยังไม่ได้กำหนด
                      <br>
                      {% endif %}
                      <button 
                        class="btn btn-sm btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#addCar"
                        type="button">
                        เพิ่มยานพาหนะ
                      </button>
                      <button 
                        class="btn btn-sm btn-warning"
                        data-bs-toggle="modal"
                        data-bs-target="#changeCar"
                        type="button">
                        ใช้ยานพาหนะส่วนตัว
                      </button>
                      {% endif %}
                      {% include "operation/components/add_car_modal.html" %}
                      {% include "operation/components/change_car_modal.html" %}
                    </td>
                  </tr>

                  <tr>
                    <th>สป.3</th>
                    <td>
                      {% if oil_request %}
                      {% for item in oil_request %}

                        {% if item.oil_type == 'DS' %}
                        ดีเซล จำนวน {{ item.total_liters }} ลิตร
                        {% else %}
                        เบนซิน จำนวน {{ item.total_liters }} ลิตร
                        {% endif %}
                        <br>
                      {% endfor %}
                      {% if not object.approve_status == 'AP' %}
                      <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editFuel">แก้ไข</button>
                      {% endif %}
                      
                      {% else %}
                      ไม่เบิก &nbsp;
                      <button type="button" 
                        data-bs-toggle="modal"
                        data-bs-target="#addFuel"
                        class="btn btn-sm btn-warning">
                        เบิก สป.3
                      </button>
                      {% endif %}
                      {% include "operation/components/fuel_modal.html" %}
                      
                      <!-- DONE: if not fuel show ไม่เบิก -->
                    </td>
                  </tr>

                  <tr>
                    <th>เบี้ยเลี้ยง</th>
                    <td>
                      {% include "operation/components/allowance_sector.html" %}
                    </td>
                  </tr>

                  <tr>
                    <th>คืนเบี้ยเลี้ยง</th>
                    <td>จำนวน xxxx บาท (กกกกกกบาทถ้วน)</td>
                  </tr>

                  <tr>
                    <th>
                      เอกสารการเบิกพัสดุ
                    </th>
                    <td>
                      {% if parcel_requests %}
                      {% for parcel in parcel_requests %}
                      <a href="#" target="_blank">{{ parcel.pk }}/{{ parcel.created_at }}</a>
                      <form
                        method="post"
                            style="display: inline-block;"
                            action="#"
                      >
                        {% csrf_token %}
                        <a 
                          href="javascript:$(delete_{{ member.pk }}_form).submit();"
                          class="badge badge-sm bg-danger"
                        >ลบ</a>
                      </form>
                      {% endfor %}
                      
                      {% else %}
                      ไม่มีเอกสารเบิกพัสดุ
                      
                      {% endif %}
                      
                      <br>
                      <button type="button" class="btn btn-sm btn-primary">แนบเอกสาร</button>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      เอกสารการคืนพัสดุ
                    </th>
                    <td>
                      {% if parcel_returns %}
                      {% for parcel in parcel_returns %}
                      <a href="#" target="_blank">{{ parcel.pk }}/{{ parcel.created_at }}</a>
                      <form
                        method="post"
                            style="display: inline-block;"
                            action="#"
                      >
                        {% csrf_token %}
                        <a 
                          href="javascript:$(delete_{{ member.pk }}_form).submit();"
                          class="badge badge-sm bg-danger"
                        >ลบ</a>
                      </form>
                      {% endfor %}
                      
                      {% else %}
                      ไม่มีเอกสารคืนพัสดุ
                      
                      {% endif %}
                      
                      <br>
                      <button type="button" class="btn btn-sm btn-primary">แนบเอกสาร</button>
                    
                    </td>
                  </tr>

                </table>
                <br>

                <table style="width: 100%; align: center">
                  <tr>
                    <th colspan="4" class="text-center">รายละเอียดงาน</th>
                  </tr>

                </table>

                <table class="table table-borderless" id="taskTable">
                  <!-- TODO: add for loop for task and edit condition -->
                  {% if tasks %}
                  <thead>

                    <tr>
                      <td style="width: 50%;">
                        รายการ
                      </td>
                      <td>สถานที่</td>
                      <td>ความเร่งด่วน</td>
                      <td></td>
                    </tr>
                  </thead>

                  <tbody>

                    {% for task in tasks %}
                    <tr>
                      <td style="width: 50%;">
                        {{ forloop.counter }}.&nbsp;{{ task.task|safe }}
                      </td>
                      <td>{{ task.workplace }}</td>
                      <td>{{ task.get_priority_display }}</td>
                      {% if task.done and object.approve_status == 'AP' %}
                      <td>
                        <button type="button" class="btn btn-sm btn-success" disabled>
                          <i class="bi bi-check-circle text-success"></i> ดำเนินการแล้ว
                        </button>
                      </td>
                      {% elif not task.done and not object.approve_status == 'WA' %}
                      <td>
                        <button 
                          type="button"
                          class="btn btn-sm btn-danger"
                          onclick="deleteTask({{ task.pk }});" >ลบ</button>
                        
                      </td>
                      {% else %}
                      <td>
                        <button 
                          type="button"
                          onclick="openNoteModal({{ task.pk }});"
                          class="btn btn-sm btn-success">อัพเดท</button>
                      </td>
                      {% endif %}
                    </tr>

                    {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <table>
                  <tr>
                    <td colspan="4">ยังไม่ได้กำหนดรายละเอียดงาน</td>
                  </tr>
                </table>
                {% endif %}

                <table>
                  <tr>
                    <td colspan="4">
                      <button 
                        type="button"
                        class="btn btn-light"
                        data-bs-toggle="modal"
                        data-bs-target="#addWork"
                      >เพิ่มรายละเอียดงาน</button>
                    </td>
                  </tr>
                </table>
                {% include "operation/components/add_work_modal.html" %}
                {% include "operation/components/edit_note_modal.html" %}

                <!-- if user is assigned to make button to create stockitem -->
              </div><!-- end detail -->

              <!-- FIX: remove to component -->
              {% include "operation/components/tab_leader.html" %}

            </div><!-- end tab-content -->
          </div><!--end card-->
        </div><!-- end col -->
      </div>

      <div class="container float-start text-center">
        <!-- include template related to user group -->
        {% if request.user == object.created_by %}
        {% include "./buttons/creator.html" %}
        {% elif request.user|has_group:"StockManager" %}
        {% include "./buttons/manager.html" %}
        {% elif request.user|has_group:"Command" %}
        {% include "./buttons/command.html" %}
        {% elif request.user|has_group:"TeamLeader" %}
        {% include "./buttons/technical.html" %}         
        {% else %}
        {% include "./buttons/user.html" %}
        {% endif %}
      </div>



  </section>
  <script>

  function sendData() {
    // save form operation note for place
    alert("send data");
  };

  </script>
  {% endblock content %}
