{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Operation{% endblock title %}

{% block content %}
<div class="pagetitle">
  <h1>Operation Form</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'operation:home' %}">ใบงาน</a></li>
      <li class="breadcrumb-item active">สร้างใบงาน</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">

    <div class="col-xl-12">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Operation Form</button>
            </li>

          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview"></div>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              {% for field in operation_form %}
              <div class="row mb-3">
                <label for="{{ field.name }}" class="col-md-4 col-lg-3 col-form-label">{{ field.label }}</label>
                <div class="col-md-8 col-lg-9">
                  {{ field }}
                </div>
              </div>
              {% endfor %}

              {% for field in team_form %}
              <div class="row mb-3">
                <label for="{{ field.name }}" class="col-md-4 col-lg-3 col-form-label">{{ field.label }}</label>
                <div class="col-md-8 col-lg-9">
                  {{ field }}
                </div>
              </div>
              {% endfor %}

              <br>
              <div class="text-center">
                <a href="{{ HTTP_REFERER }}" class="btn btn-lg btn-secondary">ย้อนกลับ</a>
                <button type="submit" class="btn btn-lg btn-success" id="submit-op-btn">สร้างใบงาน</button>
                <button type="reset" class="btn btn-lg btn-warning">Reset</button>
              </div>
            </form>


          </div><!-- End Bordered Tabs -->

        </div>
      </div>

    </div>
  </div>
</section>

<script>
let other_type = "<br><input type='text' name='other_type' id='other_type' class='form-control' placeholder='อื่นๆ' />"
const element = document.getElementsByName("{{ operation_form.type_of_work.name }}")
$(other_type).insertAfter(element[0])
element[0].addEventListener('change', (event) => {
  if (event.target.value != "OT") {
    $("#other_type").hide()
  } else {
    $("#other_type").show()
  }
});
</script>

<script>
$(document).ready(function () {
  $("#id_team_leader").select2({
    width: "100%",
  });
  $("#id_inform").select2({
    width: "100%",
  });
});

let btn = document.getElementById("submit-op-btn");
btn.addEventListener("click", function () {
  // disable the button
  btn.disabled = true;
  // add a loading spinner
  btn.innerHTML = `<i class="fa fa-spinner fa-spin"></i> กำลังสร้างใบงาน`;
  btn.submit();
});
</script>

{% endblock content %}
