{% load tags %}
{% load tz %}

<h6 class="card-title"> รายละเอียด | <span> {{ object.number }}</span></h6>
<table class="table">
  {% comment %}<p>{{ booking }}</p>{% endcomment %}
  {% comment %}<p>{{ car_fix }}</p>{% endcomment %}
  <tr>
    <th>ประเภท</th>
    <td>{{ object.get_car_type_display }}</td>
  </tr>

  <tr>
    <th>หมายเลขทะเบียน</th>
    <td>{{ object.number }}</td>
  </tr>

  <tr>
    <th>สถานภาพเชื้อเพลิง</th>
    <td>
      {% with fuel_current=object.fuel_now fuel_max=object.fuel_max %}
      <p style="text-align:center;">
        {{ fuel_current|fuel:fuel_max|floatformat:"2" }}%
        ({{ object.fuel_now|floatformat:"2" }}/{{ object.fuel_max }})
      </p>
      {% with fuel_current|fuel:fuel_max as per %}
      {% if per > 80 %}
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" 
          role="progressbar" 
          style="width: {{ object.fuel_now|fuel:object.fuel_max }}%" 
          aria-valuenow="{{ object.fuel_now }}" 
          aria-valuemin="0" 
          aria-valuemax="{{ object.fuel_max }}">
          {% comment %}{{ object.fuel_now|fuel:object.fuel_max }}%{% endcomment %}
        </div>
      </div>
      {% elif per > 50 %}
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning" 
          role="progressbar" 
          style="width: {{ object.fuel_now|fuel:object.fuel_max }}%;
          color: black;" 
          aria-valuenow="{{ object.fuel_now }}" 
          aria-valuemin="0" 
          aria-valuemax="{{ object.fuel_max }}">
          {% comment %}{{ object.fuel_now|fuel:object.fuel_max }}%{% endcomment %}
        </div>
      </div>
      {% else %}
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-danger" 
          role="progressbar" 
          style="width: {{ object.fuel_now|fuel:object.fuel_max }}%" 
          aria-valuenow="{{ object.fuel_now }}" 
          aria-valuemin="0" 
          aria-valuemax="{{ object.fuel_max }}">
          {% comment %}{{ object.fuel_now|fuel:object.fuel_max }}%{% endcomment %}
        </div>
      </div>
      {% endif %}
      {% endwith %} 
      {% endwith %}

    </td>
  </tr>

  <tr>
    <th>สถานะ</th>
    <td>{{ object.get_status_display }}</td>
  </tr>

  <tr>
    <th>จำนวนความจุผู้โดยสาร</th>
    <td>{{ object.capacity }}</td>
  </tr>

  <tr>
    <th>เลขไมล์</th>
    <td>{{ object.mile_now }}</td>
  </tr>

  <tr>
    <th>ผู้รับผิดชอบ</th>
    <td>{{ object.responsible_man }}</td>
  </tr>

</table>

<table class="table table-borderless">
  <tr>
    <th class="text-center">ภาพยานพาหนะ</th>
  </tr>
  <tr>
    <td>
      <center>
        <img src="{{ object.car_avatar.url }}" width="100%">
      </center>
    </td>
  </tr>
</table>
