{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Journal{% endblock title %}

{% block content %}
<div class="pagetitle">
    <h1>Journal {{ bc_title }}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'journal:list' %}">บันทึกการปฏิบัติงาน</a></li>
            <li class="breadcrumb-item active">สร้างบันทึก</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">

        <div class="col-xl-12">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Journal Form</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview"></div>
                        {% if form.instance %}
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}

                            {% comment %}{{ form|crispy }}{% endcomment %}

                            <div class="row mb-3">
                                <label for="{{ form.title.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.title.label }}</label>
                                <div class="col-md-8 col-lg-9">
                                    {{ form.title }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.category.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.category.label }}</label>
                                <div class="col-md-8 col-lg-9">
                                    {{ form.category }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.body.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.body.label }}</label>
                                <div class="col-md-8 col-lg-9">
                                    {{ form.body }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.status.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.status.label }}</label>
                                <div class="col-md-8 col-lg-9">
                                    {{ form.status }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.header.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.header.label }}</label>
                                <div class="col-md-8 col-lg-9">
                                    {{ form.header }}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.images.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.images.label }}</label>
                                <div class="col-md-8 col-lg-9">
                                    {{ form.images }}
                                </div>
                            </div>

                            {% if images %}
                            <p class="w3-text w3-disabled">ภาพปัจจุบัน</p>
                            {% for image in images %}
                            <img src="{{ image.images.url }}" class="w3-image" width="150" height="100">
                            {% endfor %}
                            <br>
                            {% endif %}

                            <br>


                            <div class="row mb-3">
                                <div class="col-md-8 col-lg-9">
                                    <input name="{{ form.author.name }}" type="hidden" class="form-control" id="{{ form.author.name }}" value="{{ request.user.pk }}">
                                </div>
                            </div>

                            <div class="text-center">
                                {% if btn_text == 'อัพเดท' %}
                                    <a href="{% url 'journal:detail' pk=form.instance.pk %}" class="btn btn-lg btn-secondary">Back</a>
                                    <button type="submit" class="btn btn-lg btn-success">Update</button>
                                {% else %}
                                <a href="{% url 'journal:list' %}" class="btn btn-lg btn-secondary">Back</a>
                                <button type="submit" class="btn btn-lg btn-success">Create</button>
                                <button type="reset" class="btn btn-lg btn-warning">Reset</button>
                                {% endif %}
                            </div>

                        </form>

                        {% else %}
                        {{ form|crispy }}

                        {% endif %}

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}

