{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

  {% block title %}Change Password{% endblock title %}

  {% block content %}
  <div class="pagetitle">
    <h1>Change Password</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item"><a href="{% url 'account:profile' %}">Profile</a></li>
        <li class="breadcrumb-item active">Change Password</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">

      <div class="col-xl-12">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Change Password</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview"></div>
              <form method="post" id="change-password-form">
                {% csrf_token %}

                <div class="row mb-3">
                  <label for="{{ form.old_password.name }}" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="{{ form.old_password.name }}" type="password" class="form-control" id="{{ form.old_password.name }}">
                  </div>
                </div>


                <div class="row mb-3">
                  <label for="{{ form.new_password1.name }}" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="{{ form.new_password1.name }}" type="password" class="form-control" id="{{ form.new_password1.name }}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="{{ form.new_password2.name }}" class="col-md-4 col-lg-3 col-form-label">Confirm Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="{{ form.new_password2.name }}" type="password" class="form-control" id="{{ form.new_password2.name }}">
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-lg btn-primary" id="change-password-btn">Changes Password</button>
                </div>


              </form>


            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
    <script>
      document.getElementById("change-password-btn").addEventListener("click", function() {
        let btn = document.getElementById("change-password-btn");
        btn.disabled = true;

        let form = document.getElementById("change-password-form");
        form.submit();
      });
    </script>
  </section>
  {% endblock content %}
