
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Profile{% endblock title %}

{% block content %}
<div class="pagetitle">
    <h1>Change Password</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item"><a href="{% url 'account:profile' %}">Profile</a></li>
            <li class="breadcrumb-item active">Change Password</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">

        <div class="col-xl-12">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Change Password</button>
                        </li>

                        {% comment %}<li class="nav-item">{% endcomment %}
                            {% comment %}<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>{% endcomment %}
                            {% comment %}</li>{% endcomment %}

                        {% comment %}<li class="nav-item">{% endcomment %}
                            {% comment %}<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>{% endcomment %}
                            {% comment %}</li>{% endcomment %}

                        {% comment %}<li class="nav-item">{% endcomment %}
                            {% comment %}<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>{% endcomment %}
                            {% comment %}</li>{% endcomment %}

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview"></div>
                        <form method="post">
                            {% csrf_token %}

                            <div class="row mb-3">
                                <label for="{{ form.old_password.name }}" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="{{ form.old_password.name }}" type="password" class="form-control" id="{{ form.old_password.name }}">
                                    {% comment %}{{ form.old_password|as_crispy_field }}{% endcomment %}
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label for="{{ form.new_password1.name }}" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="{{ form.new_password1.name }}" type="password" class="form-control" id="{{ form.new_password1.name }}">
                                    {% comment %}{{ form.old_password|as_crispy_field }}{% endcomment %}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="{{ form.new_password2.name }}" class="col-md-4 col-lg-3 col-form-label">Confirm Password</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="{{ form.new_password2.name }}" type="password" class="form-control" id="{{ form.new_password2.name }}">
                                    {% comment %}{{ form.old_password|as_crispy_field }}{% endcomment %}
                                </div>
                            </div>

                            {% comment %}{{ form|crispy }}{% endcomment %}

                            <div class="text-center">
                                <button type="submit" class="btn btn-lg btn-primary">Changes Password</button>
                            </div>


                        </form>


                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}
