{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Announce{% endblock title %}

{% block content %}
<div class="pagetitle">
    <h1>{{ object.title }}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'announce:list' %}">Announce List</a></li>
            <li class="breadcrumb-item active">{{ object.title }}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">

        <div class="col-xl-12">

            <!-- Recent Job -->
            <div class="col-12">
                <div class="card overflow-auto">


                    <div class="card-body">
                        <h6 class="card-title">{{ object.title }} <span>| Detail</span></h6>
                        <table class="table">
                            <tr>
                                <th>Type</th>
                                <td>{{ object.is_type }}</td>
                            </tr>

                            <tr>
                                <th>Status</th>
                                <td>{{ object.status }}</td>
                            </tr>

                            <tr>
                                <th>Author</th>
                                <td>{{ object.author.profile.rank }} {{ object.author.get_full_name }}</td>
                            </tr>

                            <tr>
                                <th>Created at</th>
                                <td>{{ object.created_at|timezone:"Asia/Bangkok"|thaidate }} 
                                    เวลา {{ object.created_at|timezone:"Asia/Bangkok"|date:"H:i" }} น.
                                </td>
                            </tr>
                        </table>

                        <table class="table table-borderless">
                            <tr>
                                <th class="text-center">รายละเอียด</th>
                            </tr>
                            <tr>
                                <td>{{ object.detail|safe|linebreaks }}</td>
                            </tr>
                        </table>

                    </div>
                </div>

                <div class="card" id="gallery">

                    {% if images %}
                        {% for item in images %}
                        <a class="col s12 m3" href="javascript:pswpInit({{forloop.counter0}})">
                            <img height="150" width="150" src="{{ item.images.url }}" alt="">
                        </a>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="card">
                    {% if files_list %}
                        <br>
                        <hr>
                        {% for f in files_list %}
                            <tr>
                            <td>
                                <iframe src="{{ f.files.url }}" frameborder="0" style="width: 100%; height: 800px;"></iframe>
                                <br>
                                <a href="{{ f.files.url }}" target="_blank">เอกสารที่เกี่ยวข้อง--{{ f.files.name }}</a>
                            </td>
                        </tr>
                        {% endfor %}

                    {% endif %}
                </div>

                <!-- Reader sector -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">จำนวนผู้อ่าน</h5>
                        <h6 class="card-subtitle mb-2 text-muted">อ่านแล้วจำนวน {{ number_of_reader }} คน</h6>
                        {% if not request.user == object.author %}
                            <form method="post" action="{% url 'announce:read' pk=object.pk %}">
                                {% csrf_token %}
                                {% if is_read %}
                                    <p class="card-text"><button type="submit" name="announce_id" value="{{ object.pk }}" class="btn btn-success">
                                        <i class="bi bi-check-circle"></i> อ่านแล้ว
                                        </button>
                                    </p>
                                {% else %}
                                    <p class="card-text"><button type="submit" name="announce_id" value="{{ object.pk }}" class="btn btn-warning">
                                        <i class="bi bi-exclamation-circle"></i> ยังไม่อ่าน
                                        </button>
                                    </p>
                                {% endif %}
                            </form>
                        {% endif %}

                        {% if request.user == object.author %}
                        <p class="card-text">รายชื่อกำลังพลที่อ่านแล้ว</p>
                        <ol>
                            {% for reader in object.reads.all %}
                            <li>{{ reader.profile.rank }} {{ reader.get_full_name }} - 
                                {{ reader.profile.sector }} ({{ reader.profile.place }})
                            </li>
                            {% endfor %}
                        </ol>
                        {% endif %}
                    </div>
                </div>

                <!-- comment sector -->

                <div class="card">
                    <div class="card-body">
                        {% if comments %}
                            <h5 class="card-title">ความคิดเห็น <span>| {{ comments_count }} ความคิดเห็น</span></h5>
                            <div class="container">
                                {% for comment in comments %}
                                    <div class="row">
                                        <div class="col-sm-8 m2">
                                            <img src="{{ comment.author.profile.image.url }}" class="img-thumbnail rounded-circle float-start" style="margin-right: 12px;" width="15%" alt="">
                                            <p class="mute">
                                                {{ comment.author.profile.rank.name }} {{ comment.get_full_name }}
                                                <span class="small">{{ comment.created_at|timezone:"Asia/Bangkok"|thaidate }} ({{ comment.created_at|timezone:"Asia/Bangkok"|timesince }})</span>
                                            </p>
                                            <p>
                                                {{ comment.comment }}
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    
                                {% endfor %}
                            </div>
                        {% else %}
                            <h5 class="card-title">ความคิดเห็น <span>| {{ comments_count }} ยังไม่มีความคิดเห็น</span></h5>
                        {% endif %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                            <h5 class="card-title">ความคิดเห็น <span>| แสดงความคิดเห็น</span></h5>
                            <div class="container">
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="announce_id" value="{{ object.pk }}">
                                    <div class="row mb-3">
                                        {% comment %}<label for="comment" class="col-sm-2 col-form-label">แสดงความคิดเห็น</label>{% endcomment %}
                                        <div class="col-sm-12">
                                            <textarea class="form-control" name="comment" id="comment" style="height: 100px; width: 100%;"></textarea>
                                        </div>
                                    </div>
                                    <p class="card-text float-end"><button type="submit" class="btn btn-primary">แสดงความคิดเห็น</button></p>
                                </form>
                                    
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content %}
