{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

  {% block title %}Announce{% endblock title %}

  {% block content %}
  <div class="pagetitle">
    <h1>Announce {{ bc_title }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'announce:list' %}">Announce List</a></li>
        <li class="breadcrumb-item active">Announce {{ bc_title }}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">

      <div class="col-xl-12">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Announce Form</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview"></div>
              {% if form.instance %}
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}

                <div class="row mb-3">
                  <label for="{{ form.is_type.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.is_type.label }}</label>
                  <div class="col-md-8 col-lg-9">
                    {{ form.is_type }}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="{{ form.status.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.status.label }}</label>
                  <div class="col-md-8 col-lg-9">
                    {{ form.status }}
                  </div>
                </div>


                <div class="row mb-3">
                  <label for="{{ form.title.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.title.label }}</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="{{ form.title.name }}" type="text" class="form-control" id="{{ form.title.name }}" value="{{ form.instance.title }}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="{{ form.detail.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.detail.label }}</label>
                  <div class="col-md-8 col-lg-9">
                    {{ form.detail }}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="{{ form.images.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.images.label }}</label>
                  <div class="col-md-8 col-lg-9">
                    {{ form.images }}
                  </div>
                </div>

                {% if images %}
                <p class="w3-text w3-disabled">ภาพปัจจุบัน</p>
                {% for image in images %}
                <img src="{{ image.images.url }}" class="w3-image" width="150" height="100">
                {% endfor %}
                <br>
                {% endif %}

                <br>
                <div class="row mb-3">
                  <label for="{{ form.files.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.files.label }}</label>
                  <div class="col-md-8 col-lg-9">
                    {{ form.files }}
                  </div>
                </div>

                {% if files %}
                <p class="w3-text w3-disabled">ไฟล์ปัจจุบัน</p>
                {% for file in files %}
                <p>เอกสาร <a href="{{ file.files.url }}">{{ file.files.name }}</a></p>
                {% endfor %}
                <br>
                {% endif %}

                <div class="row mb-3">
                  <label for="{{ form.tokens.name }}" class="col-md-4 col-lg-3 col-form-label">{{ form.tokens.label }}</label>
                  <div class="col-md-8 col-lg-9">
                    <fieldset>
                      <!--{{ form.tokens }} -->
                      {% for field in form.tokens %}
                      <div class="col-sm-8">
                        {{ field }}
                      </div>
                      {% endfor %}
                    </fieldset>
                  </div>
                </div>

                {% comment %}{{ form|crispy }}{% endcomment %}
                <div class="row mb-3">
                  <div class="col-md-8 col-lg-9">
                    <input name="{{ form.author.name }}" type="hidden" class="form-control" id="{{ form.author.name }}" value="{{ request.user.pk }}">
                  </div>
                </div>

                <div class="text-center">
                  {% if btn_text == 'อัพเดท' %}
                  <a href="{% url 'announce:detail' pk=form.instance.pk %}" class="btn btn-lg btn-secondary">Back</a>
                  <button type="submit" class="btn btn-lg btn-success">Update</button>
                  {% else %}
                  <a href="{% url 'announce:list' %}" class="btn btn-lg btn-secondary">Back</a>
                  <button type="submit" class="btn btn-lg btn-success">Create</button>
                  <button type="reset" class="btn btn-lg btn-warning">Reset</button>
                  {% endif %}
                </div>

              </form>

              {% else %}
              {{ form|crispy }}

              {% endif %}

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>
  {% endblock content %}

