{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Outbox List{% endblock title %}

{% block content %}
<div class="pagetitle">
    <h1>กล่องขาออก : {{ request.user.profile.sector.name|title }}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'document:home' %}">Document Home</a></li>
            <li class="breadcrumb-item active">Outbox List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">

        <div class="col-xl-12">

            <!-- Recent Job -->
            <div class="col-12">
                <div class="card recent-sales overflow-auto">


                    <div class="card-body">
                        <h5 class="card-title">{{ title }} 
                            <span>| List</span>
                            <span>
                                <a href="{% url 'document:create' %}" class="align-right btn btn-success" style="float: right">
                                    <i class="bi bi-plus">
                                        สร้างเอกสาร
                                    </i>
                                </a>
                            </span>
                        </h5>
                        <br>

                        <table class="table table-hover datatable" id="dataTable">
                            <thead>
                                <tr>
                                    <th scope="col">เลขรับ</th>
                                    <th scope="col">ความเร่งด่วน</th>
                                    <th scope="col">เลขที่เอกสาร</th>
                                    <th scope="col">ลงวันที่</th>
                                    <th scope="col">ส่งถึง</th>
                                    <th scope="col">...</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <th scope="row">{{ object.recieve_number }}</th>
                                    <td scope="row">{{ object.urgency }}</td>
                                    <td scope="row">{{ object.doc_number }}</td>
                                    <td>{{ object.doc_date|thaidate }}</td>
                                    <td>
                                        <ul>
                                            {% for sector in object.assigned_sector.all %}
                                            <li>{{ sector.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        <a href="{% url 'document:outbox-detail' pk=object.pk %}">
                                            <span class="badge bg-secondary">Detail</span>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div><!-- End Announce List -->
            {% comment %}{% if perms.announce.view_announce %}Permission Grant{% endif %}{% endcomment %}

        </div>

    </div>
    </div>
</section>
{% endblock content %}
