
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tz %}

{% block title %}Inbox List{% endblock title %}

{% block content %}
<div class="pagetitle">
    <h1>All {{ request.user.profile.sector.name|title }} Outbox</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'document:home' %}">Document Home</a></li>
            <li class="breadcrumb-item active">Inbox List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">

        <div class="col-xl-12">

            <!-- Recent Job -->
            <div class="col-12">
                <div class="card recent-sales overflow-auto">


                    <div class="card-body">
                        <h5 class="card-title">{{ title }} 
                            <span>| List</span>
                            <span>
                                <a href="{% url 'document:create' %}" class="align-right btn btn-success" style="float: right">
                                    <i class="bi bi-plus">
                                        New
                                    </i>
                                </a>
                            </span>
                        </h5>
                        <br>

                        <table class="table table-hover datatable" id="dataTable">
                            <thead>
                                <tr>
                                    <th scope="col">Type</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Created On</th>
                                    <th scope="col">Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <th scope="row">{{ object.is_type.name }}</th>
                                    <td><a href="#">{{ object.status.name }}</a></td>
                                    <td><a href="{% url 'announce:detail' pk=object.pk %}" class="text-primary">{{ object.title }}</a></td>
                                    <td>{{ object.created_at|timezone:"Asia/Bangkok"|thaidate }}</td>
                                    {% if not object in read and not object.author == request.user %}
                                    <td><span href="#" class="badge bg-warning text-black">Not Read</span></td>
                                    {% elif object.author == request.user %}
                                    <td><span href="#" class="badge bg-secondary">Own</span></td>
                                    {% else %}
                                    <td><span href="#" class="badge bg-success">Accepted</span></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div><!-- End Announce List -->
            {% comment %}{% if perms.announce.view_announce %}Permission Grant{% endif %}{% endcomment %}

        </div>

    </div>
    </div>
</section>
{% endblock content %}
